Repository alibaba/nacos, pull requests merged in 2018-12, with the labels that each got.

#399 Fixes #362
  console/src/main/resources/static/console-fe/src/pages/ServiceManagement/ServiceDetail/InstanceTable.js
Labels: Nacos console, bug

#355 validate config syntax #337
  console/src/main/resources/static/console-fe/build/webpack.dev.conf.js
  console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/ConfigEditor/ConfigEditor.js
  console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/NewConfig/NewConfig.js
  console/src/main/resources/static/console-fe/src/utils/validateContent.js
Labels: Nacos console, type/enhancement

#456 fix: #455
  console/src/main/resources/static/console-fe/src/utils/cookie.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/js/main.js
Labels: Nacos console, bug

#454 fix 445
  console/src/main/resources/static/console-fe/src/utils/validateContent.js
  console/src/main/resources/static/js/main.js
  pom.xml
Labels: Nacos console, bug

#540 Hotfix server side check lose data
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/beat/BeatInfo.java
  client/src/main/java/com/alibaba/nacos/client/naming/beat/BeatReactor.java
  distribution/conf/nacos-logback.xml
  naming/src/main/java/com/alibaba/nacos/naming/controllers/ServiceController.java
  naming/src/main/java/com/alibaba/nacos/naming/core/DomainsManager.java
  naming/src/main/java/com/alibaba/nacos/naming/core/VirtualClusterDomain.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/HttpClient.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/Switch.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/UtilsAndCommons.java
  naming/src/main/java/com/alibaba/nacos/naming/push/PushService.java
  naming/src/main/java/com/alibaba/nacos/naming/raft/RaftCore.java
  naming/src/main/java/com/alibaba/nacos/naming/web/ApiCommands.java
  naming/src/main/java/com/alibaba/nacos/naming/web/RaftCommands.java
  naming/src/test/java/com/alibaba/nacos/naming/core/DomainsManagerTest.java
  test/src/test/java/com/alibaba/nacos/test/naming/AutoDeregisterInstance_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/SelectInstances_ITCase.java
Labels: size/XXL
