Repository alibaba/nacos, pull requests merged in 2020-06, with the labels that each got.

#2947 [ISSUE #2842] Replace all fastjson with jackson
  distribution/LICENSE-BIN
  pom.xml
  test/pom.xml
  test/src/test/java/com/alibaba/nacos/test/BaseTest.java
  test/src/test/java/com/alibaba/nacos/test/common/HttpUtils_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigBeta_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigExportAndImportAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/AuthBase.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/Permission_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/Role_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/User_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/CPInstancesAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/Cmdb_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/MultiTenant_InstanceAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/RestAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/Subscribe_ITCase.java
Labels: dependencies, kind/refactor

#2949 Hotfix config clone
  config/src/main/java/com/alibaba/nacos/config/server/model/ConfigHistoryInfo.java
  config/src/main/java/com/alibaba/nacos/config/server/model/ConfigInfoAggr.java
  config/src/main/java/com/alibaba/nacos/config/server/model/ConfigInfoBase.java
  config/src/main/java/com/alibaba/nacos/config/server/model/GroupInfo.java
  config/src/main/java/com/alibaba/nacos/config/server/model/capacity/Capacity.java
  config/src/main/java/com/alibaba/nacos/config/server/service/notify/AsyncNotifyService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/DistributedDatabaseOperateImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/EmbeddedStoragePersistServiceImpl.java
  config/src/test/java/com/alibaba/nacos/config/server/model/ConfigInfoTest.java
  core/src/main/java/com/alibaba/nacos/core/distributed/id/IdGeneratorManager.java
  core/src/main/java/com/alibaba/nacos/core/distributed/id/SnowFlowerIdGenerator.java
  test/src/test/java/com/alibaba/nacos/test/core/SnowFlowerIdGenerator_ITCase.java
Labels: area/Nacos console, kind/bug

#2981 [HOTFIX] Raft RPC being submitted to the Leader, error could not be…
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/EmbeddedDumpService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/merge/MergeDatumService.java
  consistency/src/main/java/com/alibaba/nacos/consistency/cp/CPProtocol.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/JRaftProtocol.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/JRaftServer.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/NacosClosure.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/NacosStateMachine.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/exception/NoSuchRaftGroupException.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/processor/AbstractProcessor.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/FailoverClosure.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/FailoverClosureImpl.java
  core/src/test/java/com/alibaba/nacos/core/distributed/raft/processor/AbstractProcessorTest.java
Labels: area/Nacos Core, kind/bug

#2976 [ISSUE #2956] simplify code
  console/src/main/java/com/alibaba/nacos/console/security/nacos/JwtTokenManager.java
  console/src/main/java/com/alibaba/nacos/console/utils/JwtTokenUtils.java
Labels: good first issue, kind/enhancement

#2990 [ISSUE 2989] where config publish could not trigger horizontal notification i…
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/EmbeddedStoragePersistServiceImpl.java
Labels: area/Config, kind/bug

#2995 [#ISSUE 2994] Perf config notify
  .travis.yml
  common/src/main/java/com/alibaba/nacos/common/utils/CollectionUtils.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigController.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigChangePublisher.java
  config/src/main/java/com/alibaba/nacos/config/server/service/LongPollingService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/ExternalStoragePersistServiceImpl.java
  config/src/test/java/com/alibaba/nacos/config/server/service/ConfigChangePublisherTest.java
  pom.xml
  test/src/test/java/com/alibaba/nacos/test/config/ConfigAPI_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigBeta_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigExportAndImportAPI_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigLongPollReturnChanges_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigLongPoll_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/EmbeddedStorageContextUtils_CITCase.java
Labels: area/Config, kind/performance

#2849 fix:#2839
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftStore.java
Labels: area/Naming, kind/bug

#3008 FIX ISSUE #3007 : MaxHistory字段名称和Nacos默认的命名风格不统一
  address/src/main/resources/META-INF/logback/nacos-included.xml
  config/src/main/resources/META-INF/logback/config-included.xml
  core/src/main/resources/META-INF/logback/nacos.xml
  distribution/conf/nacos-logback.xml
  naming/src/main/resources/META-INF/logback/naming-included.xml
Labels: kind/code quality

#1877 Fix #1865 use DriverManager instead of MysqlDataSource to get the connection
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/MysqlHealthCheckProcessor.java
Labels: kind/refactor

#2287 HttpCLient uses ByteArrayEntity when sync data
  naming/src/main/java/com/alibaba/nacos/naming/controllers/DistroController.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/HttpClient.java
  test/src/test/java/com/alibaba/nacos/test/naming/NamingProxy_ITCase.java
Labels: kind/refactor

#3021 a power of two size for hashmap
  client/src/main/java/com/alibaba/nacos/client/naming/net/NamingProxy.java
Labels: kind/code quality

#3037 [ISSUE #2800] update beatinfo when received instance modify info
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/beat/BeatReactor.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/HostReactor.java
  client/src/test/java/com/alibaba/nacos/client/naming/core/HostReactorTest.java
Labels: area/Naming

#3054 Add issue robot
  .github/stale.yml
Labels: priority/high

#3064 [#3063] fixed parameter validation boundary problem
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingMaintainService.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/utils/ValidatorUtils.java
  client/src/test/java/com/alibaba/nacos/client/utils/ValidatorUtilsTest.java
  common/src/main/java/com/alibaba/nacos/common/utils/StringUtils.java
Labels: kind/bug

#3031 Remove dependency of apache-common-lang3 in the client.
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/common/GroupKey.java
  client/src/main/java/com/alibaba/nacos/client/config/http/ServerHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/LocalConfigInfoProcessor.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/SpasAdapter.java
  client/src/main/java/com/alibaba/nacos/client/config/listener/impl/PropertiesListener.java
  client/src/main/java/com/alibaba/nacos/client/config/utils/ParamUtils.java
  client/src/main/java/com/alibaba/nacos/client/identify/CredentialService.java
  client/src/main/java/com/alibaba/nacos/client/identify/CredentialWatcher.java
  client/src/main/java/com/alibaba/nacos/client/identify/STSConfig.java
  client/src/main/java/com/alibaba/nacos/client/logging/AbstractNacosLogging.java
  client/src/main/java/com/alibaba/nacos/client/logging/logback/LogbackNacosLogging.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingMaintainService.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/backups/FailoverReactor.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/DiskCache.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/HostReactor.java
  client/src/main/java/com/alibaba/nacos/client/naming/net/HttpClient.java
  client/src/main/java/com/alibaba/nacos/client/naming/net/NamingProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/utils/NetUtils.java
  client/src/main/java/com/alibaba/nacos/client/security/SecurityProxy.java
  client/src/main/java/com/alibaba/nacos/client/utils/ParamUtil.java
  common/pom.xml
  common/src/main/java/com/alibaba/nacos/common/executor/ThreadPoolManager.java
  common/src/main/java/com/alibaba/nacos/common/http/BaseHttpMethod.java
  common/src/main/java/com/alibaba/nacos/common/http/HttpClientManager.java
  common/src/main/java/com/alibaba/nacos/common/utils/ByteUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ConvertUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ExceptionUtil.java
  common/src/main/java/com/alibaba/nacos/common/utils/IoUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ShutdownUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/StringUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ThreadUtils.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/RaftOptionsBuilder.java
  core/src/main/java/com/alibaba/nacos/core/file/WatchFileCenter.java
  core/src/main/java/com/alibaba/nacos/core/notify/NotifyCenter.java
Labels: dependencies

#3035 Watch files add empty check.
  core/src/main/java/com/alibaba/nacos/core/file/WatchFileCenter.java
Labels: kind/enhancement

#3068 Method name optimization
  naming/src/main/java/com/alibaba/nacos/naming/controllers/ServiceController.java
  naming/src/main/java/com/alibaba/nacos/naming/core/ServiceManager.java
Labels: kind/code quality

#2737 [ISSUE #2089]Config list return page bug fix
  console/src/main/resources/static/console-fe/src/pages/ClusterManagement/ClusterNodeList/ClusterNodeList.js
  console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/ConfigDetail/ConfigDetail.js
  console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
Labels: area/Nacos console, kind/bug

#2845 Fix history time local
  console/src/main/resources/static/console-fe/src/pages/ConfigurationManagement/HistoryRollback/HistoryRollback.js
Labels: area/Nacos console, kind/bug

#3075 Optimization dependency
  address/pom.xml
Labels: dependencies

#3082 [ISSUE #2992] Add code style file for Idea and checkstyle file for option
  style/NacoStyleForIdea.xml
  style/NacosCheckStyle.xml
  style/codeStyle.md
Labels: kind/code quality

#3047 [ISSUE #2810] don't send beat when standalone model
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftCore.java
Labels: area/Naming, kind/enhancement

#3088 [ISSUE #2992] Add text import guide in codeStyle.md to enhance code style import
  style/NacosCheckStyle.xml
  style/codeStyle.md
  style/nacos-code-style-for-idea.xml
Labels: kind/code quality

#3084 [ISSUE #2856]Adjust the use of thread pools
  common/src/main/java/com/alibaba/nacos/common/executor/ExecutorFactory.java
  consistency/src/main/java/com/alibaba/nacos/consistency/ProtocolMetaData.java
  core/src/main/java/com/alibaba/nacos/core/code/StartingSpringApplicationRunListener.java
  core/src/main/java/com/alibaba/nacos/core/distributed/ProtocolExecutor.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/RaftExecutor.java
  core/src/main/java/com/alibaba/nacos/core/file/WatchFileCenter.java
  core/src/main/java/com/alibaba/nacos/core/utils/GlobalExecutor.java
Labels: area/Nacos Core, kind/refactor

#3093 Instance eliminate module naming optimization
  naming/src/main/java/com/alibaba/nacos/naming/core/Cluster.java
Labels: status/merge-conflict

#3112 [ISSUE #2992] Add missing java doc for nacos-common for checkstyle
  common/src/main/java/com/alibaba/nacos/common/executor/ThreadPoolManager.java
  common/src/main/java/com/alibaba/nacos/common/http/handler/ResponseHandler.java
  common/src/main/java/com/alibaba/nacos/common/http/param/Query.java
  common/src/main/java/com/alibaba/nacos/common/model/RestResult.java
  common/src/main/java/com/alibaba/nacos/common/model/RestResultUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/IoUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/StringUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ThreadUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/UuidUtils.java
Labels: kind/code quality

#3116 [ISSUE #3115] Upgrade version of Jackson and Guava
  config/src/main/java/com/alibaba/nacos/config/server/utils/JSONUtils.java
  pom.xml
  test/src/test/java/com/alibaba/nacos/test/core/JacksonUtils.java
Labels: dependencies

#3118 [#3117]Just Sink the Notify implementation into common module and optimize some parts
  common/src/main/java/com/alibaba/nacos/common/NotThreadSafe.java
  common/src/main/java/com/alibaba/nacos/common/notify/DefaultPublisher.java
  common/src/main/java/com/alibaba/nacos/common/notify/Event.java
  common/src/main/java/com/alibaba/nacos/common/notify/EventPublisher.java
  common/src/main/java/com/alibaba/nacos/common/notify/NotifyCenter.java
  common/src/main/java/com/alibaba/nacos/common/notify/SlowEvent.java
  common/src/main/java/com/alibaba/nacos/common/notify/listener/SmartSubscriber.java
  common/src/main/java/com/alibaba/nacos/common/notify/listener/Subscriber.java
  common/src/main/java/com/alibaba/nacos/common/utils/BiFunction.java
  common/src/main/java/com/alibaba/nacos/common/utils/ClassUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/MapUtils.java
Labels: area/Nacos Core, kind/enhancement

#3168 [ISSUE #3110] Hotfix member health
  core/src/main/java/com/alibaba/nacos/core/cluster/Member.java
  core/src/main/java/com/alibaba/nacos/core/cluster/MemberChangeListener.java
  core/src/main/java/com/alibaba/nacos/core/cluster/MemberUtils.java
  core/src/main/java/com/alibaba/nacos/core/cluster/MembersChangeEvent.java
  core/src/main/java/com/alibaba/nacos/core/cluster/ServerMemberManager.java
  core/src/main/java/com/alibaba/nacos/core/controller/NacosClusterController.java
  core/src/main/java/com/alibaba/nacos/core/distributed/ProtocolManager.java
  core/src/main/java/com/alibaba/nacos/core/file/WatchFileCenter.java
  naming/src/main/java/com/alibaba/nacos/naming/cluster/ServerListManager.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftPeerSet.java
  naming/src/main/java/com/alibaba/nacos/naming/core/DistroMapper.java
  test/src/test/java/com/alibaba/nacos/test/core/cluster/ServerMemberManager_ITCase.java
Labels: area/Nacos Core, area/Naming, kind/bug

#3163 [ISSUE #3160]fix compatibility issue when reading cache files with suffix ".datum"
  naming/src/main/java/com/alibaba/nacos/naming/consistency/KeyBuilder.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftStore.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/SwitchManager.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/UtilsAndCommons.java
Labels: area/Naming, kind/bug

#3174 Hotfix frequent member change logs after #3168
  core/src/main/java/com/alibaba/nacos/core/cluster/MemberMetaDataConstants.java
  core/src/main/java/com/alibaba/nacos/core/cluster/MemberUtils.java
  core/src/main/java/com/alibaba/nacos/core/cluster/ServerMemberManager.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/CatalogController.java
  naming/src/main/java/com/alibaba/nacos/naming/core/DistroMapper.java
  pom.xml
Labels: kind/enhancement

#3176 Update ServiceController.java: adjust order for start and end, avoid end value is negative number
  naming/src/main/java/com/alibaba/nacos/naming/controllers/ServiceController.java
Labels: area/Nacos console, kind/bug

#3149 移除nacos/console包下NacosAuthConfig类上冗余注解@Configuration
  console/src/main/java/com/alibaba/nacos/console/security/nacos/NacosAuthConfig.java
Labels: kind/code quality

#3136 [ISSUE #2856]Adjust the use of thread pools (naming module)
  istio/src/main/java/com/alibaba/nacos/istio/mcp/NacosMcpService.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/DistroConsistencyServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftCore.java
  naming/src/main/java/com/alibaba/nacos/naming/core/ServiceManager.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/HealthCheckCommon.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/HealthCheckReactor.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/MysqlHealthCheckProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/TcpSuperSenseProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/GlobalExecutor.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/UtilsAndCommons.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/PerformanceLoggerThread.java
  naming/src/main/java/com/alibaba/nacos/naming/push/PushService.java
Labels: area/Naming, kind/refactor

#3195 [ISSUE #2992] Use new code style for nacos-console module.
  console/pom.xml
  console/src/main/java/com/alibaba/nacos/Nacos.java
  console/src/main/java/com/alibaba/nacos/console/config/ConsoleConfig.java
  console/src/main/java/com/alibaba/nacos/console/controller/HealthController.java
  console/src/main/java/com/alibaba/nacos/console/controller/NamespaceController.java
  console/src/main/java/com/alibaba/nacos/console/controller/PermissionController.java
  console/src/main/java/com/alibaba/nacos/console/controller/RoleController.java
  console/src/main/java/com/alibaba/nacos/console/controller/ServerStateController.java
  console/src/main/java/com/alibaba/nacos/console/controller/UserController.java
  console/src/main/java/com/alibaba/nacos/console/exception/ConsoleExceptionHandler.java
  console/src/main/java/com/alibaba/nacos/console/filter/JwtAuthenticationTokenFilter.java
  console/src/main/java/com/alibaba/nacos/console/model/Namespace.java
  console/src/main/java/com/alibaba/nacos/console/model/NamespaceAllInfo.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/CustomAuthenticationProvider.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/JwtAuthenticationEntryPoint.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/JwtTokenManager.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/NacosAuthConfig.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/NacosAuthManager.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/roles/NacosRoleServiceImpl.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/users/NacosUser.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/users/NacosUserDetails.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/users/NacosUserDetailsServiceImpl.java
  console/src/main/java/com/alibaba/nacos/console/utils/JwtTokenUtils.java
  console/src/main/java/com/alibaba/nacos/console/utils/PasswordEncoderUtil.java
  console/src/test/java/com/alibaba/nacos/console/controller/HealthControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/UserControllerTest.java
Labels: kind/code quality

#3194 Update to 1.3.1-BETA
  address/pom.xml
  api/pom.xml
  client/pom.xml
  cmdb/pom.xml
  common/pom.xml
  config/pom.xml
  consistency/pom.xml
  console/pom.xml
  core/pom.xml
  distribution/pom.xml
  example/pom.xml
  istio/pom.xml
  naming/pom.xml
  pom.xml
  test/pom.xml
Labels: area/Test
