Repository alibaba/nacos, pull requests merged in 2021-04, with the labels that each got.

#5307 Push support config some parameters
  distribution/conf/application.properties
  naming/src/main/java/com/alibaba/nacos/naming/constants/PushConstants.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/PushConfig.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/hook/PushResult.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/PushExecuteTask.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/ServiceControllerTest.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/heartbeat/ClientBeatCheckTaskV2Test.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/task/PushExecuteTaskTest.java
Labels: kind/enhancement

#5332 [ISSUE #5331] Fix the mouse hovers over the margin in a pointer state and cannot be clicked
  console-ui/src/components/NameSpaceList/NameSpaceList.js
Labels: area/Nacos console, kind/user experience

#5266 [ISSUE#5234] solve the problem that page can be edited while publishing-config request is processing
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console

#5225 support ldap login
  auth/src/main/java/com/alibaba/nacos/auth/common/AuthSystemTypes.java
  console/src/main/java/com/alibaba/nacos/console/controller/UserController.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/LdapAuthenticationProvider.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/NacosAuthConfig.java
  console/src/main/java/com/alibaba/nacos/console/security/nacos/NacosAuthManager.java
  console/src/main/resources/application.properties
  distribution/conf/application.properties
Labels: kind/feature

#5312 [ISSUE #5301] Respond all kinds of collections for istio's request
  istio/src/main/java/com/alibaba/nacos/istio/mcp/NacosMcpService.java
Labels: area/Istio

#5354 [ISSUE #5351] Remove blocked thread for Protocol metadata
  common/src/main/java/com/alibaba/nacos/common/utils/Observable.java
  common/src/main/java/com/alibaba/nacos/common/utils/Observer.java
  config/src/main/java/com/alibaba/nacos/config/server/filter/CurcuitFilter.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/EmbeddedDumpService.java
  consistency/src/main/java/com/alibaba/nacos/consistency/ProtocolMetaData.java
  consistency/src/test/java/com/alibaba/nacos/consistency/ProtocolMetaDataTest.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/impl/PersistentServiceProcessor.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigDerbyRaft_DITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/BaseClusterTest.java
Labels: kind/bug

#5360 [#5350] In version 1.4.1, modify the Server is Down prompt to the specific reason for the machine failure and send it to the user
  naming/src/main/java/com/alibaba/nacos/naming/cluster/ServerStatusManager.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ConsistencyService.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/DelegateConsistencyServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/DistroConsistencyServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/PersistentConsistencyServiceDelegateImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/impl/BasePersistentServiceProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/impl/PersistentServiceProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/impl/StandalonePersistentServiceProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftConsistencyServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/web/TrafficReviseFilter.java
Labels: kind/enhancement

#5313 [#5308]word spell error in comments
  api/src/main/java/com/alibaba/nacos/api/config/convert/NacosConfigConverter.java
Labels: kind/code quality

#5345 [ISSUE #4602]add new version config export feat
  config/pom.xml
  config/src/main/java/com/alibaba/nacos/config/server/constant/Constants.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigController.java
  config/src/main/java/com/alibaba/nacos/config/server/model/ConfigMetadata.java
  config/src/main/java/com/alibaba/nacos/config/server/result/code/ResultCodeEnum.java
  config/src/main/java/com/alibaba/nacos/config/server/utils/YamlParserUtil.java
  config/src/main/java/com/alibaba/nacos/config/server/utils/ZipUtils.java
  config/src/test/java/com/alibaba/nacos/config/server/utils/YamlParserUtilTest.java
  console-ui/src/locales/en-US.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  test/src/test/java/com/alibaba/nacos/test/config/ConfigExportAndImportAPI_CITCase.java
Labels: area/Config, kind/feature

#5371 [ISSUE #5370]Modify the Chinese comments in MD5Utils to English
  common/src/main/java/com/alibaba/nacos/common/utils/MD5Utils.java
Labels: kind/code quality

#5396 [#5353] The class core.distributed.raft.JRaftServer lacks a lot of Unit Tests in nacos2.0.
  core/src/test/java/com/alibaba/nacos/core/distributed/raft/JRaftServerTest.java
Labels: area/Test

#5394 [#5353] The class core.distributed.raft.JRaftServer lacks a lot of Un…
  core/src/test/java/com/alibaba/nacos/core/distributed/raft/JRaftServerTest.java
Labels: area/Test

#5395 [#5393] The class core.distributed.raft.JRaftProtocol lacks a lot of …
  core/src/test/java/com/alibaba/nacos/core/distributed/raft/JRaftProtocolTest.java
Labels: area/Test

#5391 [ISSUE #5390] Fix ip verify error
  common/src/main/java/com/alibaba/nacos/common/utils/IPUtil.java
  common/src/test/java/com/alibaba/nacos/common/utils/IPUtilTest.java
Labels: kind/bug

#5413 For #5404, Fix frequently udp push for client 1.X
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/index/ClientServiceIndexesManager.java
Labels: area/Naming, kind/bug, version/2.x

#5410 [ISSUE #5291]Enhancement BeatTask always execute
  client/src/main/java/com/alibaba/nacos/client/naming/beat/BeatReactor.java
Labels: kind/enhancement

#5421 Fix config IT for nacos2
  core/src/main/java/com/alibaba/nacos/core/remote/BaseRpcServer.java
  test/src/test/java/com/alibaba/nacos/test/common/NacosRestTemplate_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/common/NacosRestTemplate_Interceptors_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/AbstractConfigAPI_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigAPI_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigAPI_With_RootContextPath_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigBeta_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigDerbyImport_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigExportAndImportAPI_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigLongPollReturnChanges_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/config/ConfigLongPoll_CITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/InetUtils_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/JacksonUtils.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/ConfigAuth_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/cluster/ServerMemberManager_ITCase.java
Labels: area/Test

#5422 For #5419, Fix Nacos 2.0 client auth may invalid for non public namespace.
  naming/src/main/java/com/alibaba/nacos/naming/web/NamingResourceParser.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/NamingAuth_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/core/auth/User_ITCase.java
Labels: kind/bug, version/2.x

#5436 For #5171, Fix some naming IT case
  test/src/test/java/com/alibaba/nacos/test/naming/AbstractInstanceOperate_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/CPInstancesAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/Cmdb_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/DeregisterInstance_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/DeregisterInstance_With_RootContextPath_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/InstanceOperate_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/InstanceOperate_With_RootContextPath_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/MultiTenant_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/MultiTenant_InstanceAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/NamingHttpClientProxy_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/NamingMaintainService_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/RestAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/SelectOneHealthyInstance_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/ServiceListTest_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/SubscribeCluster_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/Subscribe_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/Unsubscribe_ITCase.java
Labels: area/Test

#5411 [ISSUE #5361] check isUseGrpcFeatures() when subscribe service using GRPC
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/filter/GrpcRequestFilter.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/InstanceRequestHandler.java
Labels: kind/enhancement

#5439 Support specified naming UDP push port for client
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/PushReceiver.java
Labels: kind/enhancement

#5445 [ISSUE #5442] change state to UP when received status form old version server
  naming/src/main/java/com/alibaba/nacos/naming/cluster/ServerListManager.java
Labels: kind/bug, version/2.x

#5450 For #5171, Fix naming IT case
  test/src/test/java/com/alibaba/nacos/test/naming/MultiTenant_InstanceAPI_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/SelectInstances_ITCase.java
  test/src/test/java/com/alibaba/nacos/test/naming/SelectOneHealthyInstance_ITCase.java
Labels: area/Test

#5472 [ISSUE #5380] Use assert instead of System.out
  address/src/test/java/com/alibaba/nacos/address/ParamCheckUtilTests.java
  common/src/test/java/com/alibaba/nacos/common/utils/IPUtilTest.java
  test/src/test/java/com/alibaba/nacos/test/BaseTest.java
  test/src/test/java/com/alibaba/nacos/test/common/HttpUtils_ITCase.java
Labels: area/Test

#5486 Refactor Distro Config as singleton and replace GlobalConfig
  core/src/main/java/com/alibaba/nacos/core/distributed/distro/DistroConfig.java
  core/src/main/java/com/alibaba/nacos/core/distributed/distro/DistroConstants.java
  core/src/main/java/com/alibaba/nacos/core/distributed/distro/DistroProtocol.java
  distribution/conf/application.properties
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/DistroConsistencyServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/DistroHttpRegistry.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/combined/DistroHttpCombinedKeyExecuteTask.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/combined/DistroHttpCombinedKeyTaskFailedHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/v2/DistroClientComponentRegistry.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/v2/DistroClientTaskFailedHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/v2/DistroClientTransportAgent.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/GlobalConfig.java
Labels: kind/refactor

#5457 [ISSUE #5451] fix the tag remove error.
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/ConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console, contribution welcome

#5505 [ISSUE #3610] Fix the problem which press F1 cannot full screen
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/DistributedDatabaseOperateImpl.java
  console-ui/src/components/DiffEditorDialog/DiffEditorDialog.js
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/ConfigDetail.js
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/index.scss
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/index.scss
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console, kind/bug

#5506 Upgrade dependency version to fix security alert
  pom.xml
  sys/src/main/java/com/alibaba/nacos/sys/utils/DiskUtils.java
Labels: dependencies

#5518 [ISSUE #5153] Add unit tests for package com.alibaba.nacos.client.naming.remote in nacos 2.0
  client/pom.xml
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegateTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcConnectionEventListenerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandlerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientManagerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxyTest.java
Labels: area/Test

#5525 [ISSUE #5517],invoke reQuery after change queryType
  console-ui/src/pages/ConfigurationManagement/ListeningToQuery/ListeningToQuery.js
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console, kind/enhancement

#5528 Optimize ParamUtil code and extract constants
  client/src/main/java/com/alibaba/nacos/client/utils/ParamUtil.java
Labels: kind/code quality

#5546 [#5545] Fix Unit test for ClusterVersionJudgementTest.java.
  naming/src/test/java/com/alibaba/nacos/naming/consistency/persistent/ClusterVersionJudgementTest.java
Labels: area/Test

#5529 [ISSUE #5475] enhance the rollback message when it will delete the config.
  console-ui/src/locales/en-US.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/ConfigurationManagement/ConfigRollback/ConfigRollback.js
  console-ui/src/pages/ConfigurationManagement/ListeningToQuery/ListeningToQuery.js
  console/src/main/resources/static/css/main.css
Labels: area/Nacos console
