Repository alibaba/nacos, pull requests merged in 2022-02, with the labels that each got.

#7745 [ISSUE#5696] IdentityContext build from resource and remote ip.
  auth/src/main/java/com/alibaba/nacos/auth/AbstractProtocolAuthService.java
  auth/src/main/java/com/alibaba/nacos/auth/ProtocolAuthService.java
  auth/src/main/java/com/alibaba/nacos/auth/context/GrpcIdentityContextBuilder.java
  auth/src/main/java/com/alibaba/nacos/auth/context/HttpIdentityContextBuilder.java
  auth/src/test/java/com/alibaba/nacos/auth/GrpcProtocolAuthServiceTest.java
  auth/src/test/java/com/alibaba/nacos/auth/HttpProtocolAuthServiceTest.java
  auth/src/test/java/com/alibaba/nacos/auth/context/GrpcIdentityContextBuilderTest.java
  auth/src/test/java/com/alibaba/nacos/auth/context/HtppIdentityContextBuilderTest.java
  auth/src/test/java/com/alibaba/nacos/auth/mock/MockAuthPluginService.java
  core/src/main/java/com/alibaba/nacos/core/auth/AuthFilter.java
  core/src/main/java/com/alibaba/nacos/core/auth/RemoteRequestAuthFilter.java
  plugin-default-impl/src/main/java/com/alibaba/nacos/plugin/auth/impl/NacosAuthPluginService.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/constant/Constants.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/spi/server/AuthPluginService.java
Labels: area/Nacos Core

#7764 [ISSUE#5696] Keep original resource parse result rather than use any replace when …
  auth/src/main/java/com/alibaba/nacos/auth/context/HttpIdentityContextBuilder.java
  auth/src/main/java/com/alibaba/nacos/auth/parser/grpc/ConfigGrpcResourceParser.java
  auth/src/main/java/com/alibaba/nacos/auth/parser/grpc/NamingGrpcResourceParser.java
  auth/src/main/java/com/alibaba/nacos/auth/parser/http/ConfigHttpResourceParser.java
  auth/src/main/java/com/alibaba/nacos/auth/parser/http/NamingHttpResourceParser.java
  auth/src/test/java/com/alibaba/nacos/auth/parser/grpc/ConfigGrpcResourceParserTest.java
  auth/src/test/java/com/alibaba/nacos/auth/parser/grpc/NamingGrpcResourceParserTest.java
  auth/src/test/java/com/alibaba/nacos/auth/parser/http/ConfigHttpResourceParserTest.java
  auth/src/test/java/com/alibaba/nacos/auth/parser/http/NamingHttpResourceParserTest.java
Labels: area/Nacos Core

#7771 [ISSUE#5696]Auth plugin add enableAuth method to switch auth more precisely.
  auth/src/main/java/com/alibaba/nacos/auth/AbstractProtocolAuthService.java
  auth/src/main/java/com/alibaba/nacos/auth/ProtocolAuthService.java
  auth/src/test/java/com/alibaba/nacos/auth/GrpcProtocolAuthServiceTest.java
  auth/src/test/java/com/alibaba/nacos/auth/HttpProtocolAuthServiceTest.java
  auth/src/test/java/com/alibaba/nacos/auth/mock/MockAuthPluginService.java
  core/src/main/java/com/alibaba/nacos/core/auth/AuthFilter.java
  core/src/main/java/com/alibaba/nacos/core/auth/RemoteRequestAuthFilter.java
  plugin-default-impl/src/main/java/com/alibaba/nacos/plugin/auth/impl/NacosAuthPluginService.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/spi/server/AuthPluginService.java
Labels: area/Nacos Core

#7723 [develop] log what causes I/O reactor status to STOPPED
  common/src/main/java/com/alibaba/nacos/common/http/AbstractHttpClientFactory.java
  common/src/main/java/com/alibaba/nacos/common/http/client/request/DefaultAsyncHttpClientRequest.java
Labels: kind/research

#7797 [ISSUE#7757] Fix jraft read request deserialize to write request problem.
  consistency/src/main/java/com/alibaba/nacos/consistency/ProtoMessageUtil.java
  consistency/src/test/java/com/alibaba/nacos/consistency/ProtoMessageUtilTest.java
Labels: kind/bug

#7820 [ISSUE #5092]add ConfigPublishGroupKeyParserTest
  config/src/test/java/com/alibaba/nacos/config/server/remote/ConfigPublishGroupKeyParserTest.java
Labels: area/Test

#7819 [ISSUE #5092] add unit test for GroupCapacityPersistService
  config/src/main/java/com/alibaba/nacos/config/server/service/capacity/CapacityService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/capacity/GroupCapacityPersistService.java
  config/src/test/java/com/alibaba/nacos/config/server/service/capacity/GroupCapacityPersistServiceTest.java
Labels: area/Test

#7809 [1.x] Patch v1.x string utils
  common/src/main/java/com/alibaba/nacos/common/utils/StringUtils.java
  common/src/test/java/com/alibaba/nacos/common/utils/StringUtilsTest.java
Labels: kind/bug

#7802 [1.x] Patch v1.x thread pool manager
  common/src/main/java/com/alibaba/nacos/common/executor/ThreadPoolManager.java
Labels: kind/enhancement
