Repository alibaba/nacos, pull requests merged in 2022-07, with the labels that each got.

#8641 [ISSUE#4982] Add Unit test for CatalogServiceV2Impl
  naming/src/main/java/com/alibaba/nacos/naming/core/CatalogServiceV2Impl.java
  naming/src/test/java/com/alibaba/nacos/naming/core/CatalogServiceV2ImplTest.java
Labels: area/Test

#8693 [ISSUE#8099] Fast failure for distro sync task and verify task if cluster disconnect.
  core/src/main/java/com/alibaba/nacos/core/cluster/remote/ClusterRpcClientProxy.java
  core/src/test/java/com/alibaba/nacos/core/cluster/remote/ClusterRpcClientProxyTest.java
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/v2/DistroClientTransportAgent.java
  naming/src/test/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/v2/DistroClientTransportAgentTest.java
Labels: kind/enhancement

#8675 [ISSUE#5863]add nacos client batchRegitserInstance request
  api/src/main/java/com/alibaba/nacos/api/naming/NamingService.java
  api/src/main/java/com/alibaba/nacos/api/naming/utils/NamingUtils.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/RedoScheduledTask.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/BatchInstanceRedoData.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/InstanceRedoData.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/EphemeralClientOperationServiceImpl.java
Labels: kind/feature

#8537 fix(#8243): adapt v2 health check plugin
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/HealthCheckProcessorDelegate.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/extend/AbstractHealthCheckProcessorExtend.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/extend/HealthCheckExtendProvider.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/extend/HealthCheckProcessorExtendV1.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/extend/HealthCheckProcessorExtendV2.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/v2/processor/HealthCheckProcessorV2Delegate.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/extend/HealthCheckExtendProviderTest.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/extend/HealthCheckProcessorExtendV1Test.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/extend/HealthCheckProcessorExtendV2Test.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/extend/TestChecker.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/extend/TestHealthCheckProcessor.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/v2/processor/HealthCheckProcessorV2DelegateTest.java
Labels: status/need discuss

#8700 [ISSUE#8305] Remove leave nacos server nodes API temporarily.
  core/src/main/java/com/alibaba/nacos/core/controller/NacosClusterController.java
  core/src/main/java/com/alibaba/nacos/core/controller/v2/NacosClusterV2Controller.java
  core/src/test/java/com/alibaba/nacos/core/controller/NacosClusterControllerTest.java
  core/src/test/java/com/alibaba/nacos/core/controller/v2/NacosClusterV2ControllerTest.java
Labels: area/Nacos Core

#8757 [ISSUE #8755] add default fuzzy search feature
  console-ui/src/locales/en-US.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
Labels: area/Nacos console, area/Config

#8463 [ISSUE #7039] Temporary fix encryptedContent bug.
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/CacheData.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigChangeHandler.java
  client/src/test/java/com/alibaba/nacos/client/config/NacosConfigServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/config/impl/CacheDataTest.java
  client/src/test/java/com/alibaba/nacos/client/config/impl/ClientWorkerTest.java
Labels: area/Config, plugin

#8767 [ISSUE#8742] Fix change instance metadata, the revision of service not change.
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigController.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/InstanceMetadataProcessor.java
Labels: kind/bug
