Repository alibaba/nacos, pull requests merged in 2022-03, with the labels that each got.

#7835 [ISSUE #5092] add test for LocalDataSourceServiceImpl
  config/src/test/java/com/alibaba/nacos/config/server/service/datasource/LocalDataSourceServiceImplTest.java
Labels: area/Test

#7981 [ISSUE#5696] Add requestClass to resource properties for grpc resource parser.
  auth/src/main/java/com/alibaba/nacos/auth/parser/grpc/AbstractGrpcResourceParser.java
  auth/src/main/java/com/alibaba/nacos/auth/parser/grpc/ConfigGrpcResourceParser.java
  auth/src/main/java/com/alibaba/nacos/auth/parser/grpc/NamingGrpcResourceParser.java
  auth/src/test/java/com/alibaba/nacos/auth/parser/grpc/NamingGrpcResourceParserTest.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/constant/Constants.java
Labels: area/Nacos Core

#7964 [ISSUE #7941] FIX: Missing parameters 'dataId' and 'group'.
  config/src/main/java/com/alibaba/nacos/config/server/controller/HistoryController.java
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/ConfigDetail.js
Labels: area/Nacos console, area/Config

#7989 Follower state machine ignore read operation.
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/NacosStateMachine.java
Labels: kind/enhancement

#8014 [ISSUE#8009] Fix NPE of unit test.
  naming/src/test/java/com/alibaba/nacos/naming/controllers/InstanceControllerTest.java
Labels: area/Test
