Repository alibaba/nacos, pull requests merged in 2022-11, with the labels that each got.

#9396 [ISSUE #9393] 设置线程为守护线程，保证在main线程推出时应用程序能过正常关闭。
  api/src/main/java/com/alibaba/nacos/api/remote/RpcScheduledExecutor.java
  common/src/main/java/com/alibaba/nacos/common/http/AbstractHttpClientFactory.java
  common/src/main/java/com/alibaba/nacos/common/http/HttpClientBeanHolder.java
  common/src/main/java/com/alibaba/nacos/common/task/engine/TaskExecuteWorker.java
  core/src/main/java/com/alibaba/nacos/core/distributed/distro/task/DistroTaskEngineHolder.java
  istio/src/main/java/com/alibaba/nacos/istio/common/EventProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/GracefulShutdownListener.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/NamingExecuteTaskDispatcher.java
  naming/src/main/resources/META-INF/services/com.alibaba.nacos.core.listener.NacosApplicationListener
  sys/src/main/java/com/alibaba/nacos/sys/file/WatchFileCenter.java
Labels: kind/enhancement

#9436 [ISSUE #9437] [ISSUE #9408] fix style NameSpaceList.js
  console-ui/src/components/NameSpaceList/NameSpaceList.js
Labels: kind/bug, area/Nacos console

#9454 [ISSUE #9449]Add Tenant Information mapper.
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/TenantInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/TenantInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/TenantInfoMapper.java
  plugin/datasource/src/main/resources/META-INF/services/com.alibaba.nacos.plugin.datasource.mapper.Mapper
Labels: plugin

#9461 [bug-fix]fix ClientWorker NullPointer judement order
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
Labels: area/Config, area/Client

#9467 [ISSUE #9466] Modify the findMapper method of MapperManager to be a generic method
  api/src/main/java/com/alibaba/nacos/api/common/Constants.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/MapperManager.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/constants/TableConstant.java
Labels: plugin

#9476 [ISSUE #9475] Abstract common count method
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoBetaMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagsRelationMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/HistoryConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoBetaMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoTagMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigTagsRelationMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/HistoryConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/AbstractMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoAggrMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoBetaMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoTagMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigTagsRelationMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/HistoryConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/Mapper.java
Labels: plugin

#9481 [ISSUE #9475] Abstract common count method
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/TenantInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/TenantInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/TenantInfoMapper.java
Labels: plugin

#9488 [ISSUE #9486]Optimizing paging parameters.
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
Labels: plugin

#9487 [ISSUE #9486] Optimizing paging parameters
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoBetaMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagsRelationMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoTagMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigTagsRelationMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoAggrMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoBetaMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoTagMapper.java
Labels: plugin

#9392 [ISSUE #9391] Chooser optimization
  client/src/main/java/com/alibaba/nacos/client/naming/utils/Chooser.java
Labels: pending, area/Client

#9517 [ISSUE #9516] Clean up PersistService invalid code logic
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/PersistService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagsRelationMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigTagsRelationMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigTagsRelationMapper.java
Labels: area/Config

#9518 [ISSUE #8694] Support prometheus http service discovery
  console/pom.xml
  console/src/main/resources/application.properties
  distribution/conf/application.properties
  distribution/conf/application.properties.example
  pom.xml
  prometheus/pom.xml
  prometheus/src/main/java/com/alibaba/nacos/prometheus/PrometheusApp.java
  prometheus/src/main/java/com/alibaba/nacos/prometheus/api/ApiConstants.java
  prometheus/src/main/java/com/alibaba/nacos/prometheus/controller/PrometheusController.java
Labels: kind/feature

#9583 [ISSUE #9571] Replace PersistService
  config/src/main/java/com/alibaba/nacos/config/server/aspect/CapacityManagementAspect.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigController.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigOpsController.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigServletInner.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigPublishRequestHandler.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigQueryRequestHandler.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigRemoveRequestHandler.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigOperationService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/HistoryService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/capacity/CapacityService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/DumpService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/EmbeddedDumpService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/ExternalDumpService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpAllBetaProcessor.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpAllProcessor.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpAllTagProcessor.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpChangeProcessor.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpProcessor.java
  config/src/main/java/com/alibaba/nacos/config/server/service/merge/MergeDatumService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/merge/MergeTaskProcessor.java
  config/src/test/java/com/alibaba/nacos/config/server/remote/ConfigPublishRequestHandlerTest.java
  config/src/test/java/com/alibaba/nacos/config/server/remote/ConfigRemoveRequestHandlerTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/ConfigOperationServiceTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/HistoryServiceTest.java
  console/src/main/java/com/alibaba/nacos/console/controller/HealthController.java
  console/src/main/java/com/alibaba/nacos/console/controller/NamespaceController.java
  console/src/main/java/com/alibaba/nacos/console/service/NamespaceOperationService.java
  console/src/test/java/com/alibaba/nacos/console/controller/HealthControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/NamespaceControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/service/NamespaceOperationServiceTest.java
Labels: kind/refactor, area/Config

#9477 [ISSUE #9474] 持久化实例的健康检查方式改为http后，部分实例显示为不健康
  naming/src/main/java/com/alibaba/nacos/naming/misc/HttpClientManager.java
Labels: kind/enhancement

#9616 [ISSUE #9615] fixed the issue of client get same server
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
Labels: kind/enhancement, area/Client

#9633 [ISSUE #9631] return value of putIfAbsent ignored, value passed to pu…
  config/src/main/java/com/alibaba/nacos/config/server/service/ClientTrackService.java
Labels: area/Config
