Repository alibaba/nacos, pull requests merged in 2022-05, with the labels that each got.

#8234 V2.x feat(#6506): Can change betaIps multiple times in beta(or gray).
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
Labels: area/Config

#8235 V1.x feat(#6506): Can change betaIps multiple times in beta(or gray).
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
Labels: area/Config

#8096 [ISSUE #8095] use getEncryptDataKeySnapshot instead of getEncryptDataKeyFailover
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
Labels: area/Config

#7984 增加对状态码为404的判断
  client/src/main/java/com/alibaba/nacos/client/config/http/ServerHttpAgent.java
Labels: area/Config, area/Client

#8063 ## @Desc:[ISSUE #8038] Fix config_tags_relation Table can Repeat Insert bug
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
Labels: area/Config

#8282 [ISSUE#4982] Fix naming module unit test and generate jacoco coverage report
  .github/workflows/ci.yml
  naming/pom.xml
  naming/src/test/java/com/alibaba/nacos/naming/BaseTest.java
  naming/src/test/java/com/alibaba/nacos/naming/consistency/persistent/PersistentConsistencyServiceDelegateImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/CatalogControllerTest.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/InstanceControllerV2Test.java
  naming/src/test/java/com/alibaba/nacos/naming/core/DistroMapperTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/DomainTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/InstanceOperatorClientImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/ServiceManagerTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/ServiceOperatorV2ImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/ServiceTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/event/publisher/NamingEventPublisherFactoryTest.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/upgrade/doublewrite/delay/DoubleWriteEventListenerTest.java
  naming/src/test/java/com/alibaba/nacos/naming/monitor/MetricsMonitorTest.java
  naming/src/test/java/com/alibaba/nacos/naming/pojo/instance/BeatInfoInstanceBuilderTest.java
  naming/src/test/java/com/alibaba/nacos/naming/pojo/instance/HttpRequestInstanceBuilderTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorRpcImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorUdpImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/raft/RaftStoreTest.java
  naming/src/test/java/com/alibaba/nacos/naming/remote/udp/UdpConnectorTest.java
  pom.xml
Labels: area/Test

#8344 Add codeCov report after CI finish
  .github/workflows/ci.yml
  codecov.yml
  pom.xml
Labels: area/Test

#8319 [ISSUE #8318] fix findAllConfigInfoForDumpAll sql args error
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
Labels: area/Config

#8369 Remove mina dependency.
  naming/pom.xml
  pom.xml
Labels: dependencies

#8383 Upgrade jackson version to 2.12.6.1
  pom.xml
Labels: dependencies

#8094 [ISSUE #8093] change logging order by logging after invoking getSnapshot
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
Labels: area/Config

#8162 [ISSUE #8153]Fix AutoExpireCache NPE
  common/src/main/java/com/alibaba/nacos/common/cache/decorators/AutoExpireCache.java
  common/src/test/java/com/alibaba/nacos/common/cache/decorators/AutoExpireCacheTest.java
Labels: area/Config, area/Client

#8440 [ISSUE#8405] Fix istio module cycle dependency problem.
  istio/src/main/java/com/alibaba/nacos/istio/common/EventProcessor.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/upgrade/UpgradeJudgementTest.java
Labels: dependencies

#8467 Fix #8405, Remove Autowired in EventProcessor.
  istio/src/main/java/com/alibaba/nacos/istio/common/EventProcessor.java
Labels: dependencies
