Repository alibaba/nacos, pull requests merged in 2022-10, with the labels that each got.

#9278 [ISSUE #9277] publisherIndexes clean the service key when no instance…
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/index/ClientServiceIndexesManager.java
Labels: kind/bug

#9272 [ISSUE #9271] fix 'JraftServer' npe log
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/JRaftServer.java
Labels: kind/enhancement

#9290 fix bug #9263 lost page condition in configuration management page.
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/bug, area/Nacos console

#9299 [ISSUE#7929] minijar pom update ,to reduce nacos-client jar size
  client/pom.xml
Labels: kind/enhancement, area/Client

#9312 [ISSUE#9269] RpcClient support parse ipv6 address.
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClient.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClient.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/RpcClientTest.java
Labels: kind/bug, area/Client

#9325 Add switch for naming async query.
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServiceInfoUpdateService.java
Labels: area/Client

#9158 【summer_issue#8313】Ecological Construction and optimization of NACOS Service Mesh
  istio/src/main/java/com/alibaba/nacos/istio/api/ApiGenerator.java
  istio/src/main/java/com/alibaba/nacos/istio/api/ApiGeneratorFactory.java
  istio/src/main/java/com/alibaba/nacos/istio/common/Debounce.java
  istio/src/main/java/com/alibaba/nacos/istio/common/Event.java
  istio/src/main/java/com/alibaba/nacos/istio/common/EventProcessor.java
  istio/src/main/java/com/alibaba/nacos/istio/common/EventType.java
  istio/src/main/java/com/alibaba/nacos/istio/common/NacosResourceManager.java
  istio/src/main/java/com/alibaba/nacos/istio/common/NacosServiceInfoResourceWatcher.java
  istio/src/main/java/com/alibaba/nacos/istio/common/ResourceSnapshot.java
  istio/src/main/java/com/alibaba/nacos/istio/common/WatchedStatus.java
  istio/src/main/java/com/alibaba/nacos/istio/mcp/EmptyMcpGenerator.java
  istio/src/main/java/com/alibaba/nacos/istio/mcp/NacosMcpService.java
  istio/src/main/java/com/alibaba/nacos/istio/mcp/ServiceEntryMcpGenerator.java
  istio/src/main/java/com/alibaba/nacos/istio/misc/IstioConfig.java
  istio/src/main/java/com/alibaba/nacos/istio/model/IstioEndpoint.java
  istio/src/main/java/com/alibaba/nacos/istio/model/IstioResources.java
  istio/src/main/java/com/alibaba/nacos/istio/model/IstioService.java
  istio/src/main/java/com/alibaba/nacos/istio/model/PushRequest.java
  istio/src/main/java/com/alibaba/nacos/istio/server/IstioServer.java
  istio/src/main/java/com/alibaba/nacos/istio/util/IstioCrdUtil.java
  istio/src/main/java/com/alibaba/nacos/istio/util/IstioExecutor.java
  istio/src/main/java/com/alibaba/nacos/istio/xds/CdsGenerator.java
  istio/src/main/java/com/alibaba/nacos/istio/xds/DeltaConnection.java
  istio/src/main/java/com/alibaba/nacos/istio/xds/EdsGenerator.java
  istio/src/main/java/com/alibaba/nacos/istio/xds/EmptyXdsGenerator.java
  istio/src/main/java/com/alibaba/nacos/istio/xds/NacosXdsService.java
  istio/src/main/java/com/alibaba/nacos/istio/xds/ServiceEntryXdsGenerator.java
  naming/src/main/java/com/alibaba/nacos/naming/core/InstanceOperatorClientImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/ServiceOperatorV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/event/metadata/InfoChangeEvent.java
Labels: Summer2022

#9371 [ISSUE #9366] Support Ldaps authentication
  plugin-default-impl/src/main/java/com/alibaba/nacos/plugin/auth/impl/LdapAuthConfig.java
  plugin-default-impl/src/main/java/com/alibaba/nacos/plugin/auth/impl/NacosLdapContextSource.java
  test/core-test/src/test/java/com/alibaba/nacos/test/core/auth/LdapAuth_ITCase.java
Labels: plugin

#9038 [ISSUE #8461] Enhance Nacos monitor observability system
  common/src/main/java/com/alibaba/nacos/common/utils/TopnCounterMetricsContainer.java
  common/src/test/java/com/alibaba/nacos/common/utils/TopnCounterMetricsContainerTest.java
  config/src/main/java/com/alibaba/nacos/config/server/aspect/RequestLogAspect.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/ConfigController.java
  config/src/main/java/com/alibaba/nacos/config/server/monitor/ConfigDynamicMeterRefreshService.java
  config/src/main/java/com/alibaba/nacos/config/server/monitor/MemoryMonitor.java
  config/src/main/java/com/alibaba/nacos/config/server/monitor/MetricsMonitor.java
  config/src/main/java/com/alibaba/nacos/config/server/monitor/collector/ConfigSubscriberMetricsCollector.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigChangeListenContext.java
  config/src/main/java/com/alibaba/nacos/config/server/service/LongPollingService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/notify/AsyncNotifyService.java
  core/src/main/java/com/alibaba/nacos/core/monitor/MetricsMonitor.java
  core/src/main/java/com/alibaba/nacos/core/monitor/NacosMeterRegistry.java
  core/src/main/java/com/alibaba/nacos/core/monitor/NacosMeterRegistryCenter.java
  core/src/test/java/com/alibaba/nacos/core/monitor/MetricsMonitorTest.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/MetricsMonitor.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/NamingDynamicMeterRefreshService.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/collector/NamingSubAndPubMetricsCollector.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/collector/PushPendingTaskCountMetricsCollector.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/collector/ServiceEventQueueSizeMetricsCollector.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/hook/NacosMonitorPushResultHook.java
  naming/src/test/java/com/alibaba/nacos/naming/monitor/MetricsMonitorTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/hook/NacosMonitorPushResultHookTest.java
Labels: ASoC2022

#9416 Optimize some codes for InstancesChangeNotifier
  client/src/main/java/com/alibaba/nacos/client/naming/event/InstancesChangeNotifier.java
Labels: kind/code quality
