Repository alibaba/nacos, pull requests merged in 2022-06, with the labels that each got.

#8489 [ISSUE#5863] Define InstanceRequest InstanceResponse and Handler
  api/src/main/java/com/alibaba/nacos/api/naming/remote/NamingRemoteConstants.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/BatchInstanceRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/BatchInstanceResponse.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/ClientOperationService.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/ClientOperationServiceProxy.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/EphemeralClientOperationServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/PersistentClientOperationServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/BatchInstanceRequestHandler.java
Labels: kind/feature

#7770 optimize. config request monitor collect right request code.
  client/src/main/java/com/alibaba/nacos/client/config/http/MetricsHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/monitor/MetricsMonitor.java
Labels: priority/high, area/Config, kind/research, area/Client

#8541 fix Spring Security vulnerability（cve-2022-22978）issue#8540, upgeade springboot version to 2.6.8
  pom.xml
Labels: dependencies

#8574 Enhance to remove double filter service info for push callback.
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutor.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorDelegate.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorRpcImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorUdpImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/NamingPushCallback.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/PushExecuteTask.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/heartbeat/ClientBeatCheckTaskV2Test.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v1/NamingSubscriberServiceV1ImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorDelegateTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorRpcImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorUdpImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/task/FixturePushExecutor.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/task/PushDelayTaskExecuteEngineTest.java
Labels: kind/enhancement, area/Naming

#8636 [ISSUES #8635] fix a NPE when call the shutdown method
  naming/src/main/java/com/alibaba/nacos/naming/consistency/persistent/raft/RaftCore.java
Labels: kind/bug

#7428 feat: add version data compare in the history list
  console-ui/src/locales/en-US.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/ConfigurationManagement/HistoryRollback/HistoryRollback.js
Labels: area/Nacos console, area/Config
