Repository alibaba/nacos, pull requests merged in 2022-01, with the labels that each got.

#7551 [ISSUE#7550] Add judgement for is subscribe services.
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
Labels: kind/bug, area/Client

#7596 [ISSUE#6999]Logback overrides the automatic refresh of application logback . issu…
  client/src/main/java/com/alibaba/nacos/client/logging/NacosLogging.java
  client/src/main/java/com/alibaba/nacos/client/logging/logback/LogbackNacosLogging.java
  client/src/main/java/com/alibaba/nacos/client/utils/LogUtils.java
  client/src/test/java/com/alibaba/nacos/client/logging/logback/LogbackNacosLoggingTest.java
Labels: kind/enhancement, area/Client

#7612 [ISSUE #7593]修复集群模式使用内置数据库配置中心配置文件丢失
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
Labels: kind/bug, area/Config
