Repository alibaba/nacos, pull requests merged in 2022-12, with the labels that each got.

#9650 [ISSUE #9648] 修复关于tagList传入参数有误
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
Labels: area/Config

#9639 [ISSUE #9621] 增加检查服务端健康状态的功能。
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/test/java/com/alibaba/nacos/client/config/impl/ClientWorkerTest.java
Labels: area/Config, area/Client

#9735 [ISSUE #9734] fix http login url ,add default port.
  client/src/main/java/com/alibaba/nacos/client/auth/impl/process/HttpLoginProcessor.java
Labels: kind/bug, area/Client
