Repository alibaba/nacos, pull requests merged in 2022-04, with the labels that each got.

#8100 [ISSUE #8072] Reduce memory cost in DistroProtocol initialization to avoid OutOfMemoryError (2.x)
  common/src/main/java/com/alibaba/nacos/common/utils/JacksonUtils.java
  common/src/test/java/com/alibaba/nacos/common/utils/JacksonUtilsTest.java
Labels: kind/enhancement

#8133 V2.x fix(#6273): server/leave, add end conditions for cluster notifications.
  core/src/main/java/com/alibaba/nacos/core/controller/NacosClusterController.java
  core/src/test/java/com/alibaba/nacos/core/controller/NacosClusterControllerTest.java
Labels: kind/bug

#8132 fix(#6273): server/leave, add end conditions for cluster notifications.
  core/src/main/java/com/alibaba/nacos/core/controller/NacosClusterController.java
Labels: kind/bug

#8187 [ISSUE #8012] Fix NPE in DistroConsistencyServiceImpl.Notifier
  naming/src/main/java/com/alibaba/nacos/naming/consistency/ephemeral/distro/DistroConsistencyServiceImpl.java
Labels: kind/bug

#8172 [ISSUE #8161] use relative path instead of absolute path
  console-ui/build/webpack.base.conf.js
  console-ui/build/webpack.prod.conf.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/js/main.js
  core/src/main/resources/banner.txt
Labels: kind/bug, area/Nacos console

#8114 [ISSUE #8107] 403 go to home page when modify user's password
  console-ui/src/utils/request.js
Labels: kind/discussion

#8197 [ISSUE #8196] Return count number of subscribers correctly when throw an exception
  naming/src/main/java/com/alibaba/nacos/naming/controllers/ServiceController.java
Labels: kind/bug

#8157 [ISSUE #8156] Add hash-tag for js and css
  console-ui/build/copyFile.js
  console-ui/build/webpack.base.conf.js
  console-ui/public/index.ejs
  console-ui/public/index.html
  console/src/main/resources/static/index.html
Labels: area/Nacos console

#8221 feat(#5344): reset raft cluster ops for no leader, use JRaft Api rese…
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/JRaftConstants.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/JRaftOps.java
Labels: area/Nacos Core

#8220 feat(#5346): reset raft cluster ops for no leader, use JRaft Api resetPeers.
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/JRaftConstants.java
  core/src/main/java/com/alibaba/nacos/core/distributed/raft/utils/JRaftOps.java
Labels: area/Nacos Core

#8236 feat(#7498): Some machines are case sensitive, so rename instanceFilt…
  console-ui/src/pages/ServiceManagement/ServiceDetail/InstanceFilter.js
Labels: area/Nacos console

#8229 [ISSUE#6999] Solve the problem that Nacos client does not support logback overload log configuration
  client/src/main/java/com/alibaba/nacos/client/logging/logback/LogbackNacosLogging.java
  client/src/main/java/com/alibaba/nacos/client/logging/logback/NacosJoranConfigurator.java
  client/src/main/resources/nacos-logback.xml
Labels: area/Client

#7783 [ISSUE#7780] Fix a-b-a problem.
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
Labels: area/Config

#7490 [ISSUE #7487] Add generics for the CacheBuilder.
  client/src/main/java/com/alibaba/nacos/client/config/impl/Limiter.java
  common/src/main/java/com/alibaba/nacos/common/cache/builder/CacheBuilder.java
  core/src/main/java/com/alibaba/nacos/core/utils/StringPool.java
Labels: kind/enhancement

#8155 [ISSUE #8150] Add the namespace description item to the namespace list page
  console-ui/src/pages/NameSpace/NameSpace.js
  console/src/main/java/com/alibaba/nacos/console/controller/NamespaceController.java
  console/src/main/java/com/alibaba/nacos/console/model/Namespace.java
  console/src/main/java/com/alibaba/nacos/console/model/NamespaceAllInfo.java
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console
