Repository alibaba/nacos, pull requests merged in 2023-07, with the labels that each got.

#10730 nacos ui doc update to v2
  README.md
  console-ui/src/config.js
  console-ui/src/layouts/Header.js
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/enhancement

#10770 fix(#10427): When the execution of handleServerRequest() encounters an exception, record the log and throw an exception, then quickly response to the server errResponse
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClient.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/RpcClientTest.java
Labels: kind/bug

#10805 fix(#10585): selectInstances and selectOneHealthyInstance methods, if…
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
Labels: kind/bug, area/Client

#10810 fix a couple of invalid props in the console
  console-ui/src/layouts/MainLayout.js
  console-ui/src/pages/AuthorityControl/PermissionsManagement/PermissionsManagement.js
  console-ui/src/pages/AuthorityControl/UserManagement/UserManagement.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/EditInstanceDialog.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/InstanceTable.js
  console-ui/src/pages/ServiceManagement/SubscriberList/SubscriberList.js
Labels: area/Nacos console

#10804 feat(#10539): When the operation configuration fails, log.
  config/src/main/java/com/alibaba/nacos/config/server/aspect/ConfigOpFailureAspect.java
Labels: kind/feature, area/Config
