Repository alibaba/nacos, pull requests merged in 2023-03, with the labels that each got.

#10063 [ISSUE#10062] Naming support aliyun STS auth.
  client/src/main/java/com/alibaba/nacos/client/auth/ram/identify/IdentifyConstants.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/identify/StsCredentialHolder.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/ConfigResourceInjector.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/NamingResourceInjector.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/identify/StsCredentialHolderTest.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/injector/ConfigResourceInjectorTest.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/injector/NamingResourceInjectorTest.java
  client/src/test/java/com/alibaba/nacos/client/env/NacosClientPropertiesTest.java
Labels: kind/feature, area/Client, plugin

#10092 Upgrade snakeYaml to 2.0
  client/src/main/java/com/alibaba/nacos/client/config/impl/YmlChangeParser.java
  config/src/main/java/com/alibaba/nacos/config/server/utils/YamlParserUtil.java
  pom.xml
Labels: dependencies

#9980 nacos grpc connection supports TLS Encryption
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  common/src/main/java/com/alibaba/nacos/common/remote/TlsConfig.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClient.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClientFactory.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClientTlsConfig.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcConstants.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/DefaultGrpcClientConfig.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClient.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClientConfig.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClusterClient.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcConstants.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcSdkClient.java
  common/src/main/java/com/alibaba/nacos/common/utils/TlsTypeResolve.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/RpcClientFactoryTest.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/RpcConstantsTest.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClientTest.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClientTlsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/TlsTypeResolveTest.java
  core/src/main/java/com/alibaba/nacos/core/remote/BaseRpcServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/RpcServerTlsConfig.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/BaseGrpcServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/OptionalTlsProtocolNegotiator.java
  core/src/test/java/com/alibaba/nacos/core/remote/grpc/GrpcServerTest.java
  core/src/test/resources/test-ca-cert.pem
  core/src/test/resources/test-server-cert.pem
  core/src/test/resources/test-server-key.pem
  sys/src/main/java/com/alibaba/nacos/sys/utils/InetUtils.java
  test/config-test/pom.xml
  test/config-test/src/test/java/com/alibaba/nacos/test/config/NacosConfigServiceComTlsGrpcClientTest.java
  test/config-test/src/test/java/com/alibaba/nacos/test/config/NacosConfigServiceNoComTlsGrpcClientTest.java
  test/config-test/src/test/java/com/alibaba/nacos/test/config/NacosConfigV2MutualAuthTest.java
  test/config-test/src/test/resources/test-ca-cert.pem
  test/config-test/src/test/resources/test-ca-key.pem
  test/config-test/src/test/resources/test-client-cert.pem
  test/config-test/src/test/resources/test-client-key.pem
  test/config-test/src/test/resources/test-server-cert.pem
  test/config-test/src/test/resources/test-server-key.pem
  test/core-test/pom.xml
  test/core-test/src/test/java/com/alibaba/nacos/test/ConfigCleanUtils.java
  test/core-test/src/test/java/com/alibaba/nacos/test/client/ConfigIntegrationV1ServerNonCompatibility_CITCase.java
  test/core-test/src/test/java/com/alibaba/nacos/test/client/ConfigIntegrationV2MutualAuthTest.java
  test/core-test/src/test/java/com/alibaba/nacos/test/client/ConfigIntegrationV3Test.java
  test/core-test/src/test/resources/test-ca-cert.pem
  test/core-test/src/test/resources/test-ca-key.pem
  test/core-test/src/test/resources/test-client-cert.pem
  test/core-test/src/test/resources/test-client-key.pem
  test/core-test/src/test/resources/test-server-cert.pem
  test/core-test/src/test/resources/test-server-key.pem
  test/naming-test/pom.xml
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/NamingCompatibilityServiceTls_ITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/NamingTlsServiceAndMutualAuth_ITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/NamingTlsServiceTls_ITCase.java
  test/naming-test/src/test/resources/test-ca-cert.pem
  test/naming-test/src/test/resources/test-ca-key.pem
  test/naming-test/src/test/resources/test-client-cert.pem
  test/naming-test/src/test/resources/test-client-key.pem
  test/naming-test/src/test/resources/test-server-cert.pem
  test/naming-test/src/test/resources/test-server-key.pem
Labels: kind/feature

#10150 ssl context reload spi
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClient.java
  core/src/main/java/com/alibaba/nacos/core/remote/BaseRpcServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/RpcServerSslContextRefresher.java
  core/src/main/java/com/alibaba/nacos/core/remote/RpcServerSslContextRefresherHolder.java
  core/src/main/java/com/alibaba/nacos/core/remote/RpcServerTlsConfig.java
  core/src/main/java/com/alibaba/nacos/core/remote/SslContextChangeAware.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/BaseGrpcServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/OptionalTlsProtocolNegotiator.java
  core/src/test/java/com/alibaba/nacos/core/remote/grpc/GrpcServerTest.java
Labels: area/Nacos Core

#10143 Add some unit test for V2Controller
  naming/src/test/java/com/alibaba/nacos/naming/BaseTest.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/v2/CatalogControllerV2Test.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/v2/HealthControllerV2Test.java
Labels: area/Test

#10170 [ISSUE #7698] refactor: remove httpasyncclient version dependency management, avoid version conflicts
  pom.xml
Labels: status/need feedback

#10241 Add unit test for api module
  api/src/main/java/com/alibaba/nacos/api/exception/api/NacosApiException.java
  api/src/main/java/com/alibaba/nacos/api/exception/runtime/NacosRuntimeException.java
  api/src/main/java/com/alibaba/nacos/api/selector/AbstractCmdbSelector.java
  api/src/main/java/com/alibaba/nacos/api/utils/NetUtils.java
  api/src/test/java/com/alibaba/nacos/api/cmdb/pojo/EntityEventTest.java
  api/src/test/java/com/alibaba/nacos/api/cmdb/pojo/EntityTest.java
  api/src/test/java/com/alibaba/nacos/api/cmdb/pojo/LabelTest.java
  api/src/test/java/com/alibaba/nacos/api/exception/NacosExceptionTest.java
  api/src/test/java/com/alibaba/nacos/api/exception/api/NacosApiExceptionTest.java
  api/src/test/java/com/alibaba/nacos/api/exception/runtime/NacosDeserializationExceptionTest.java
  api/src/test/java/com/alibaba/nacos/api/exception/runtime/NacosLoadExceptionTest.java
  api/src/test/java/com/alibaba/nacos/api/exception/runtime/NacosRuntimeExceptionTest.java
  api/src/test/java/com/alibaba/nacos/api/exception/runtime/NacosSerializationExceptionTest.java
  api/src/test/java/com/alibaba/nacos/api/selector/AbstractCmdbSelectorTest.java
  api/src/test/java/com/alibaba/nacos/api/selector/ExpressionSelectorTest.java
  api/src/test/java/com/alibaba/nacos/api/selector/NoneSelectorTest.java
  api/src/test/java/com/alibaba/nacos/api/selector/context/CmdbContextTest.java
  api/src/test/java/com/alibaba/nacos/api/utils/NetUtilsTest.java
  naming/src/test/java/com/alibaba/nacos/naming/cluster/transport/JacksonSerializerTest.java
Labels: area/Test
