Repository alibaba/nacos, pull requests merged in 2023-08, with the labels that each got.

#10896 console-ui 新增 toml 语言支持，修复之前 properties 主题未生效的问题
  api/src/main/java/com/alibaba/nacos/api/config/ConfigType.java
  console-ui/package-lock.json
  console-ui/package.json
  console-ui/src/components/MonacoEditor/constant.ts
  console-ui/src/lib.js
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/ConfigDetail.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/ConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/NewConfig/NewConfig.js
  console-ui/src/utils/validateContent.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/feature, area/Nacos console

#10936 Update StringUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/StringUtils.java
Labels: kind/bug

#10982 [ISSUE#10971] Add state to disable console ui and add api to get guide information.
  console/src/main/java/com/alibaba/nacos/console/config/ConsoleConfig.java
  console/src/main/java/com/alibaba/nacos/console/config/ConsoleModuleStateBuilder.java
  console/src/main/java/com/alibaba/nacos/console/controller/ServerStateController.java
  console/src/main/resources/META-INF/services/com.alibaba.nacos.sys.module.ModuleStateBuilder
  distribution/conf/application.properties
  distribution/conf/console-guide.conf
  pom.xml
Labels: kind/feature, area/Nacos console

#11058 [ISSUE#11056] Fix Batch register count size wrong, when batch register sereval time.
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/client/AbstractClient.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/MetricsMonitor.java
  naming/src/test/java/com/alibaba/nacos/naming/monitor/MetricsMonitorTest.java
Labels: kind/bug, area/Naming
