Repository alibaba/nacos, pull requests merged in 2023-11, with the labels that each got.

#11335 Develop fill ut common
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/AntPathMatcher.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/ByteArrayResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/ClassPathResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/DefaultResourceLoader.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/FileSystemResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/InputStreamResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/PathMatchingResourcePatternResolver.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/PathResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/UrlResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/resource/VfsResource.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/util/AbstractAssert.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/util/AbstractObjectUtils.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/util/ResourceUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ClassUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/InetAddressValidator.java
  common/src/main/java/com/alibaba/nacos/common/utils/IoUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/StringUtils.java
  common/src/main/java/com/alibaba/nacos/common/utils/ThreadUtils.java
  common/src/test/java/ClassUtilsTestMockClass.java
  common/src/test/java/com/alibaba/nacos/common/utils/AbstractAssertTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/AbstractObjectUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ByteUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ClassUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/CollectionUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/DateFormatUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ExceptionUtilTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/InetAddressValidatorTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/InternetAddressUtilTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/IoUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/JacksonUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/LoggerUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/MapUtilTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/NamespaceUtilTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ObservableTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/PairTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/RandomUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ReflectUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ResourceUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/StringUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/ThreadUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/TlsTypeResolveTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/TypeUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/UuidUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/VersionUtilsTest.java
  common/src/test/resources/resource_utils_test.properties
Labels: area/Test

#11352 Develop refactor topn
  common/src/main/java/com/alibaba/nacos/common/utils/TopnCounterMetricsContainer.java
  common/src/test/java/com/alibaba/nacos/common/utils/TopnCounterMetricsContainerTest.java
  config/src/main/java/com/alibaba/nacos/config/server/monitor/ConfigDynamicMeterRefreshService.java
  config/src/main/java/com/alibaba/nacos/config/server/monitor/MetricsMonitor.java
  core/src/main/java/com/alibaba/nacos/core/monitor/topn/BaseTopNCounter.java
  core/src/main/java/com/alibaba/nacos/core/monitor/topn/FixedSizePriorityQueue.java
  core/src/main/java/com/alibaba/nacos/core/monitor/topn/StringTopNCounter.java
  core/src/main/java/com/alibaba/nacos/core/monitor/topn/TopNConfig.java
  core/src/test/java/com/alibaba/nacos/core/monitor/topn/FixedSizePriorityQueueTest.java
  core/src/test/java/com/alibaba/nacos/core/monitor/topn/StringTopNCounterTest.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/MetricsMonitor.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/NamingDynamicMeterRefreshService.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/ServiceTopNCounter.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2Impl.java
Labels: kind/refactor

#11346 fixup ConfigEncryptionFilter bug & do reverse Filter when handle Config response in ConfigFilterChainManager
  client/src/main/java/com/alibaba/nacos/client/config/filter/impl/ConfigEncryptionFilter.java
  client/src/main/java/com/alibaba/nacos/client/config/filter/impl/ConfigFilterChainManager.java
  client/src/test/java/com/alibaba/nacos/client/config/filter/impl/ConfigEncryptionFilterTest.java
Labels: kind/bug, area/Client

#11293 [ISSUE #11216] Declare httpcore as direct dependency to fix its version.
  client/pom.xml
Labels: dependencies

#11405 For #10353, Handling DataIntegrityViolationException and DuplicateKey…
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImpl.java
Labels: kind/enhancement

#11419 Develop fill ut common
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigHttpClientManager.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientManager.java
  common/pom.xml
  common/src/main/java/com/alibaba/nacos/common/http/AbstractHttpClientFactory.java
  common/src/main/java/com/alibaba/nacos/common/http/HttpClientBeanHolder.java
  common/src/main/java/com/alibaba/nacos/common/http/client/response/JdkHttpClientResponse.java
  common/src/main/java/com/alibaba/nacos/common/http/handler/RequestHandler.java
  common/src/main/java/com/alibaba/nacos/common/http/handler/ResponseHandler.java
  common/src/main/java/com/alibaba/nacos/common/http/param/Header.java
  common/src/main/java/com/alibaba/nacos/common/http/param/Query.java
  common/src/test/java/com/alibaba/nacos/common/http/AbstractApacheHttpClientFactoryTest.java
  common/src/test/java/com/alibaba/nacos/common/http/AbstractHttpClientFactoryTest.java
  common/src/test/java/com/alibaba/nacos/common/http/BaseHttpMethodTest.java
  common/src/test/java/com/alibaba/nacos/common/http/HttpClientBeanHolderTest.java
  common/src/test/java/com/alibaba/nacos/common/http/HttpClientConfigTest.java
  common/src/test/java/com/alibaba/nacos/common/http/HttpRestResultTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/AbstractNacosRestTemplateTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/InterceptingHttpClientRequestTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/NacosAsyncRestTemplateTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/NacosRestTemplateTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/handler/BeanResponseHandlerTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/handler/RestResultResponseHandlerTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/request/DefaultAsyncHttpClientRequestTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/request/DefaultHttpClientRequestTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/request/JdkHttpClientRequestTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/response/DefaultClientHttpResponseTest.java
  common/src/test/java/com/alibaba/nacos/common/http/client/response/JdkClientHttpResponseTest.java
  common/src/test/java/com/alibaba/nacos/common/http/handler/ResponseHandlerTest.java
  common/src/test/java/com/alibaba/nacos/common/http/param/HeaderTest.java
  common/src/test/java/com/alibaba/nacos/common/http/param/MediaTypeTest.java
  common/src/test/java/com/alibaba/nacos/common/http/param/QueryTest.java
  config/src/main/java/com/alibaba/nacos/config/server/service/notify/HttpClientManager.java
  naming/src/main/java/com/alibaba/nacos/naming/misc/HttpClientManager.java
Labels: area/Test

#11337 feat: code clean.
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigQueryRequestHandler.java
Labels: area/Config, kind/code quality

#11220 [ISSUE #11217]Optimize DumpAllProcessor code.
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpAllProcessor.java
Labels: kind/refactor, area/Config

#11400 [GLCC #10378] Improve log and memory lack.
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/LockResourceInjector.java
  lock/src/main/java/com/alibaba/nacos/lock/LockManager.java
  lock/src/main/java/com/alibaba/nacos/lock/NacosLockManager.java
  lock/src/main/java/com/alibaba/nacos/lock/core/reentrant/AtomicLockService.java
  lock/src/main/java/com/alibaba/nacos/lock/core/reentrant/mutex/MutexAtomicLock.java
  lock/src/main/java/com/alibaba/nacos/lock/exception/NacosLockException.java
  lock/src/main/java/com/alibaba/nacos/lock/remote/rpc/handler/LockRequestHandler.java
  lock/src/main/java/com/alibaba/nacos/lock/service/impl/LockOperationServiceImpl.java
  lock/src/test/java/com/alibaba/nacos/lock/LockManagerTest.java
  lock/src/test/java/com/alibaba/nacos/lock/core/reentrant/mutex/ClientAtomicLock.java
Labels: Summer

#11439 Upgrade UI dependencies to fix some problem.
  console-ui/package-lock.json
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: dependencies, javascript

#11442 长轮询参数校验逻辑，修复不存在的空命名空间配置校验失败bug
  config/src/main/java/com/alibaba/nacos/config/server/paramcheck/ConfigListenerHttpParamExtractor.java
Labels: kind/bug, area/Config
