Repository alibaba/nacos, pull requests merged in 2023-10, with the labels that each got.

#11188 [ISSUE #10380]Add fuzzy watch unit test
  client/src/test/java/com/alibaba/nacos/client/naming/NacosNamingServiceTest.java
Labels: area/Test, Summer

#11237 feat(#11236): Remove invalid assertion in com.alibaba.nacos.config.server.service.ConfigCacheService#dumpChange.
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
Labels: area/Config, kind/code quality

#11232 [ISSUE#11192] batchRegisterInstance add recalculateRevision
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/EphemeralClientOperationServiceImpl.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/service/impl/EphemeralClientOperationServiceImplTest.java
Labels: kind/bug, area/Naming

#11247 Fill ut for common module
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigHttpClientManager.java
  common/src/main/java/com/alibaba/nacos/common/ability/AbstractAbilityControlManager.java
  common/src/main/java/com/alibaba/nacos/common/ability/discover/NacosAbilityManagerHolder.java
  common/src/main/java/com/alibaba/nacos/common/cache/decorators/AutoExpireCache.java
  common/src/main/java/com/alibaba/nacos/common/codec/Base64.java
  common/src/main/java/com/alibaba/nacos/common/model/RequestHttpEntity.java
  common/src/main/java/com/alibaba/nacos/common/model/RestResult.java
  common/src/main/java/com/alibaba/nacos/common/notify/DefaultPublisher.java
  common/src/main/java/com/alibaba/nacos/common/notify/NotifyCenter.java
  common/src/main/java/com/alibaba/nacos/common/packagescan/DefaultPackageScan.java
  common/src/main/java/com/alibaba/nacos/common/paramcheck/DefaultParamChecker.java
  common/src/main/java/com/alibaba/nacos/common/pathencoder/impl/WindowsEncoder.java
  common/src/main/java/com/alibaba/nacos/common/task/engine/NacosDelayTaskExecuteEngine.java
  common/src/main/java/com/alibaba/nacos/common/task/engine/TaskExecuteWorker.java
  common/src/test/java/com/alibaba/nacos/common/ability/AbstractAbilityControlManagerTest.java
  common/src/test/java/com/alibaba/nacos/common/ability/MockAbilityPostProcessor.java
  common/src/test/java/com/alibaba/nacos/common/ability/discover/HigherMockAbilityManager.java
  common/src/test/java/com/alibaba/nacos/common/ability/discover/LowerMockAbilityManager.java
  common/src/test/java/com/alibaba/nacos/common/ability/discover/NacosAbilityManagerHolderTest.java
  common/src/test/java/com/alibaba/nacos/common/codec/Base64Test.java
  common/src/test/java/com/alibaba/nacos/common/executor/ThreadPoolManagerTest.java
  common/src/test/java/com/alibaba/nacos/common/http/HttpUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/model/RequestHttpEntityTest.java
  common/src/test/java/com/alibaba/nacos/common/model/RestResultTest.java
  common/src/test/java/com/alibaba/nacos/common/model/RestResultUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/notify/DefaultPublisherTest.java
  common/src/test/java/com/alibaba/nacos/common/notify/DefaultSharePublisherTest.java
  common/src/test/java/com/alibaba/nacos/common/notify/NotifyCenterTest.java
  common/src/test/java/com/alibaba/nacos/common/packagescan/DefaultPackageScanTest.java
  common/src/test/java/com/alibaba/nacos/common/packagescan/PackageScanTest.java
  common/src/test/java/com/alibaba/nacos/common/packagescan/mock/AnnotationClass.java
  common/src/test/java/com/alibaba/nacos/common/packagescan/mock/MockClass.java
  common/src/test/java/com/alibaba/nacos/common/packagescan/mock/NoAnnotationClass.java
  common/src/test/java/com/alibaba/nacos/common/packagescan/mock/TestScan.java
  common/src/test/java/com/alibaba/nacos/common/paramcheck/DefaultParamCheckerTest.java
  common/src/test/java/com/alibaba/nacos/common/paramcheck/MockParamChecker.java
  common/src/test/java/com/alibaba/nacos/common/paramcheck/ParamCheckerManagerTest.java
  common/src/test/java/com/alibaba/nacos/common/pathencoder/PathEncoderManagerTest.java
  common/src/test/java/com/alibaba/nacos/common/pathencoder/WindowsEncoderTest.java
  common/src/test/java/com/alibaba/nacos/common/spi/NacosServiceLoaderTest.java
  common/src/test/java/com/alibaba/nacos/common/spi/SpiTestImpl.java
  common/src/test/java/com/alibaba/nacos/common/task/engine/NacosDelayTaskExecuteEngineTest.java
  common/src/test/java/com/alibaba/nacos/common/task/engine/NacosExecuteTaskExecuteEngineTest.java
  common/src/test/java/com/alibaba/nacos/common/tls/SelfTrustManagerTest.java
  common/src/test/java/com/alibaba/nacos/common/tls/TlsHelperTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/event/naming/HealthStateChangeTraceEventTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/event/naming/InstanceTraceEventTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/event/naming/NamingTraceEventTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/event/naming/ServiceTraceEventTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/event/naming/SubscribeTraceEventTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/publisher/TraceEventPublisherFactoryTest.java
  common/src/test/java/com/alibaba/nacos/common/trace/publisher/TraceEventPublisherTest.java
  common/src/test/resources/META-INF/services/com.alibaba.nacos.api.ability.initializer.AbilityPostProcessor
  common/src/test/resources/META-INF/services/com.alibaba.nacos.common.ability.AbstractAbilityControlManager
  common/src/test/resources/META-INF/services/com.alibaba.nacos.common.paramcheck.AbstractParamChecker
  common/src/test/resources/test-tls-cert.pem
  config/src/main/java/com/alibaba/nacos/config/server/manager/TaskManager.java
  core/src/test/java/com/alibaba/nacos/core/remote/grpc/RemoteParamCheckFilterTest.java
  pom.xml
Labels: area/Test

#11200 [ISSUE #10380] Support for fuzzy watch capability for Nacos registration center.
  api/src/main/java/com/alibaba/nacos/api/common/Constants.java
  api/src/main/java/com/alibaba/nacos/api/naming/NamingService.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/AbstractFuzzyWatchEventListener.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/FuzzyWatchListener.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/FuzzyWatchNotifyEvent.java
  api/src/main/java/com/alibaba/nacos/api/naming/pojo/Service.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/NamingRemoteConstants.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/AbstractFuzzyWatchNotifyRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/FuzzyWatchNotifyChangeRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/FuzzyWatchNotifyInitRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/FuzzyWatchRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/FuzzyWatchResponse.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/NotifyFuzzyWatcherResponse.java
  api/src/main/java/com/alibaba/nacos/api/naming/utils/NamingUtils.java
  api/src/main/resources/META-INF/services/com.alibaba.nacos.api.remote.Payload
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/FuzzyWatchServiceListHolder.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/FuzzyWatchNotifyEvent.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/ServicesChangeNotifier.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandler.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/RedoScheduledTask.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/FuzzyWatcherRedoData.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/main/resources/META-INF/native-image/com.alibaba.nacos/nacos-client/reflect-config.json
  client/src/test/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegateTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandlerTest.java
  example/src/main/java/com/alibaba/nacos/example/FuzzyWatchExample.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/client/AbstractClient.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/client/Client.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/event/client/ClientOperationEvent.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/event/service/ServiceEvent.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/index/ClientServiceIndexesManager.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/InstanceMetadataProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/ClientOperationService.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/ClientOperationServiceProxy.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/EphemeralClientOperationServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/PersistentClientOperationServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/heartbeat/ClientBeatProcessorV2.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/heartbeat/UnhealthyInstanceChecker.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutor.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorDelegate.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorRpcImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorUdpImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchInitDelayTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchInitExecuteTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchNotifyChangeDelayTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchNotifyChangeExecuteTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchPushDelayTaskEngine.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/FuzzyWatchRequestHandler.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/index/ClientServiceIndexesManagerTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2ImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/task/FixturePushExecutor.java
Labels: pending, Summer

#11275 优化节点显示，添加mode
  console-ui/src/layouts/MainLayout.js
  console-ui/src/layouts/index.scss
  console-ui/src/locales/en-US.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/ClusterManagement/ClusterNodeList/ClusterNodeList.js
  console-ui/src/reducers/base.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/enhancement, area/Nacos console

#11014 Support ConfigMap synchronization function for nacos
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/ApiClientFactory.java
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/ConfigMapSyncConfig.java
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/ConfigMapSyncService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/ConfigMapSyncServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/ConfigMapSyncTask.java
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/KubernetesConfigMapSyncService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/kubernetes/Loggers.java
  console/src/main/resources/application.properties
  distribution/conf/application.properties
  persistence/src/test/java/com/alibaba/nacos/persistence/configuration/condition/ConfigChangeConfigsTest.java
  pom.xml
Labels: Summer

#11166 [ISSUE #10377] Nacos client observability enhancement - metrics part
  client/pom.xml
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/http/MetricsHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/config/http/ServerHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/CacheData.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/monitor/MetricsMonitor.java
  client/src/main/java/com/alibaba/nacos/client/monitor/config/ConfigMetrics.java
  client/src/main/java/com/alibaba/nacos/client/monitor/naming/NamingMetrics.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/backups/FailoverReactor.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/ServiceInfoHolder.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServiceInfoUpdateService.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/InstancesChangeNotifier.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandler.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/utils/ValidatorUtils.java
  client/src/test/java/com/alibaba/nacos/client/monitor/config/ConfigMetricsTest.java
  client/src/test/java/com/alibaba/nacos/client/monitor/naming/NamingMetricsTest.java
  client/src/test/java/com/alibaba/nacos/client/utils/ValidatorUtilsTest.java
Labels: Summer

#11138 [ISSUE #10377] Nacos client observability enhancement - trace part
  client/pom.xml
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/http/MetricsHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/config/http/ServerHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/monitor/TraceDynamicProxy.java
  client/src/main/java/com/alibaba/nacos/client/monitor/TraceMonitor.java
  client/src/main/java/com/alibaba/nacos/client/monitor/config/ClientWorkerTraceProxy.java
  client/src/main/java/com/alibaba/nacos/client/monitor/config/ConfigRpcTransportClientTraceProxy.java
  client/src/main/java/com/alibaba/nacos/client/monitor/config/ConfigTrace.java
  client/src/main/java/com/alibaba/nacos/client/monitor/naming/NamingGrpcRedoServiceTraceProxy.java
  client/src/main/java/com/alibaba/nacos/client/monitor/naming/NamingTrace.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandler.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/test/java/com/alibaba/nacos/client/config/NacosConfigServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/config/http/ServerHttpAgentTest.java
  client/src/test/java/com/alibaba/nacos/client/monitor/TraceDynamicProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/monitor/config/ConfigTraceTest.java
  client/src/test/java/com/alibaba/nacos/client/monitor/config/ConfigTraceToJaegerTest.java
  client/src/test/java/com/alibaba/nacos/client/monitor/naming/NamingTraceTest.java
  client/src/test/java/com/alibaba/nacos/client/monitor/naming/NamingTraceToJaegerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxyTest.java
  common/pom.xml
  common/src/main/java/com/alibaba/nacos/common/constant/NacosSemanticAttributes.java
  pom.xml
Labels: Summer
