Repository alibaba/nacos, pull requests merged in 2023-02, with the labels that each got.

#9893 [ISSUE #9816] Add expected final state for redo data.
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/BatchInstanceRedoData.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/RedoData.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/redo/RedoScheduledTaskTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/BatchInstanceRedoDataTest.java
  pom.xml
Labels: kind/enhancement, area/Client

#9916 Add Unit test for api naming remote request.
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/BasedNamingRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/BatchInstanceRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/InstanceRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/NotifySubscriberRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/ServiceListRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/ServiceQueryRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/request/SubscribeServiceRequestTest.java
  naming/src/test/java/com/alibaba/nacos/naming/healthcheck/interceptor/HealthCheckTaskInterceptWrapperTest.java
  naming/src/test/java/com/alibaba/nacos/naming/remote/udp/UdpConnectorTest.java
Labels: area/Test

#9918 Add Unit test for api module naming package.
  api/src/main/java/com/alibaba/nacos/api/model/v2/Result.java
  api/src/test/java/com/alibaba/nacos/api/model/v2/ResultTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/response/BatchInstanceResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/response/InstanceResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/response/QueryServiceResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/response/ServiceListResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/naming/remote/response/SubscribeServiceResponseTest.java
Labels: area/Test

#9951 Judge the message whether null for metadata processor.
  api/src/test/java/com/alibaba/nacos/api/ability/ClientAbilitiesTest.java
  api/src/test/java/com/alibaba/nacos/api/ability/ServerAbilitiesTest.java
  api/src/test/java/com/alibaba/nacos/api/config/ability/ClientRemoteAbilityTest.java
  api/src/test/java/com/alibaba/nacos/api/config/ability/ServerRemoteAbilityTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/ability/ClientRemoteAbilityTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/ability/ServerRemoteAbilityTest.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/InstanceMetadataProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/NamingMetadataManager.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/ServiceMetadataProcessor.java
Labels: kind/enhancement

#9967 [ISSUE #9821] Update ConfigInfoBetaMapper data-source-plugin input and output parameters
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoAggrPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoBetaPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoAggrPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoBetaPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoBetaMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoBetaMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoAggrMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoBetaMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/model/MapperContext.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoBetaMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoBetaMapperByMySqlTest.java
Labels: kind/enhancement, plugin

#9925 [ISSUE #9276] 新增根据配置信息检索内容的功能
  config/src/main/java/com/alibaba/nacos/config/server/constant/Constants.java
  config/src/main/java/com/alibaba/nacos/config/server/constant/PropertiesConstant.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/v2/ConfigControllerV2.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigDetailService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImpl.java
  config/src/test/java/com/alibaba/nacos/config/server/controller/v2/ConfigControllerV2Test.java
  console-ui/build/webpack.dev.conf.js
  console-ui/src/locales/en-US.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  console-ui/src/reducers/configuration.js
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagsRelationMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigTagsRelationMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigTagsRelationMapper.java
Labels: kind/feature, area/Nacos console
