Repository alibaba/nacos, pull requests merged in 2023-09, with the labels that each got.

#10995 [ISSUE #10374] Select clusters using the selector
  api/src/main/java/com/alibaba/nacos/api/naming/NamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServiceInfoUpdateService.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/InstancesChangeNotifier.java
  client/src/main/java/com/alibaba/nacos/client/naming/selector/NamingSelectorWrapper.java
  client/src/main/java/com/alibaba/nacos/client/selector/SelectorFactory.java
  client/src/main/java/com/alibaba/nacos/client/selector/SelectorManager.java
  client/src/test/java/com/alibaba/nacos/client/naming/NacosNamingServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/event/InstancesChangeNotifierTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/selector/NamingSelectorWrapperTest.java
  client/src/test/java/com/alibaba/nacos/client/selector/SelectorManagerTest.java
Labels: Summer

#11109 Fix RPC_CLIENT_TLS_PROTOCOLS setting error.
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClientTlsConfig.java
Labels: kind/bug

#11160 Enhance config service address mode start judgement.
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/utils/PreInitUtils.java
Labels: kind/refactor, area/Client

#11169 Refactor control plugin
  api/src/main/java/com/alibaba/nacos/api/remote/RpcScheduledExecutor.java
  config/pom.xml
  core/pom.xml
  core/src/main/java/com/alibaba/nacos/core/code/ControllerMethodsCache.java
  core/src/main/java/com/alibaba/nacos/core/control/http/NacosHttpTpsControlInterceptor.java
  core/src/main/java/com/alibaba/nacos/core/control/http/NacosHttpTpsControlRegistration.java
  core/src/main/java/com/alibaba/nacos/core/control/http/NacosHttpTpsControlWebMvcConfigurer.java
  core/src/main/java/com/alibaba/nacos/core/control/http/NacosHttpTpsFilter.java
  core/src/main/java/com/alibaba/nacos/core/control/remote/TpsControlRequestFilter.java
  core/src/main/java/com/alibaba/nacos/core/monitor/NacosMeterRegistryCenter.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/GrpcRequestAcceptor.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/InstanceController.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/ServiceController.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/v2/InstanceControllerV2.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/v2/ServiceControllerV2.java
  naming/src/main/java/com/alibaba/nacos/naming/monitor/NamingDynamicMeterRefreshService.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/BatchInstanceRequestHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/InstanceRequestHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/ServiceListRequestHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/ServiceQueryRequestHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/SubscribeServiceRequestHandler.java
  naming/src/main/java/com/alibaba/nacos/naming/web/ClientAttributesFilter.java
  naming/src/main/java/com/alibaba/nacos/naming/web/NamingConfig.java
  plugin/control/pom.xml
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/connection/response/ConnectionCheckResponse.java
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/RuleBarrier.java
Labels: kind/refactor, plugin

#11079 [ISSUE #10378] Glcc 分布式锁
  api/src/main/java/com/alibaba/nacos/api/NacosFactory.java
  api/src/main/java/com/alibaba/nacos/api/common/Constants.java
  api/src/main/java/com/alibaba/nacos/api/lock/LockService.java
  api/src/main/java/com/alibaba/nacos/api/lock/NacosLockFactory.java
  api/src/main/java/com/alibaba/nacos/api/lock/common/LockConstants.java
  api/src/main/java/com/alibaba/nacos/api/lock/constant/PropertyConstants.java
  api/src/main/java/com/alibaba/nacos/api/lock/model/LockInstance.java
  api/src/main/java/com/alibaba/nacos/api/lock/remote/AbstractLockRequest.java
  api/src/main/java/com/alibaba/nacos/api/lock/remote/LockOperationEnum.java
  api/src/main/java/com/alibaba/nacos/api/lock/remote/request/LockOperationRequest.java
  api/src/main/java/com/alibaba/nacos/api/lock/remote/response/LockOperationResponse.java
  api/src/main/java/com/alibaba/nacos/api/remote/RemoteConstants.java
  api/src/main/resources/META-INF/services/com.alibaba.nacos.api.remote.Payload
  client/src/main/java/com/alibaba/nacos/client/auth/ram/RamClientAuthServiceImpl.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/LockResourceInjector.java
  client/src/main/java/com/alibaba/nacos/client/lock/NacosLockService.java
  client/src/main/java/com/alibaba/nacos/client/lock/core/NLock.java
  client/src/main/java/com/alibaba/nacos/client/lock/core/NLockFactory.java
  client/src/main/java/com/alibaba/nacos/client/lock/remote/AbstractLockClient.java
  client/src/main/java/com/alibaba/nacos/client/lock/remote/LockClient.java
  client/src/main/java/com/alibaba/nacos/client/lock/remote/grpc/LockGrpcClient.java
  console/pom.xml
  console/src/main/resources/application.properties
  lock/pom.xml
  lock/src/main/java/com/alibaba/nacos/lock/LockManager.java
  lock/src/main/java/com/alibaba/nacos/lock/NacosLockManager.java
  lock/src/main/java/com/alibaba/nacos/lock/constant/Constants.java
  lock/src/main/java/com/alibaba/nacos/lock/constant/PropertiesConstant.java
  lock/src/main/java/com/alibaba/nacos/lock/core/reentrant/AbstractAtomicLock.java
  lock/src/main/java/com/alibaba/nacos/lock/core/reentrant/AtomicLockService.java
  lock/src/main/java/com/alibaba/nacos/lock/core/reentrant/mutex/MutexAtomicLock.java
  lock/src/main/java/com/alibaba/nacos/lock/factory/LockFactory.java
  lock/src/main/java/com/alibaba/nacos/lock/factory/SimpleLockFactory.java
  lock/src/main/java/com/alibaba/nacos/lock/model/LockInfo.java
  lock/src/main/java/com/alibaba/nacos/lock/model/LockKey.java
  lock/src/main/java/com/alibaba/nacos/lock/persistence/NacosLockSnapshotOperation.java
  lock/src/main/java/com/alibaba/nacos/lock/raft/request/MutexLockRequest.java
  lock/src/main/java/com/alibaba/nacos/lock/remote/rpc/handler/LockRequestHandler.java
  lock/src/main/java/com/alibaba/nacos/lock/service/LockOperationService.java
  lock/src/main/java/com/alibaba/nacos/lock/service/impl/LockOperationServiceImpl.java
  lock/src/main/resources/META-INF/services/com.alibaba.nacos.lock.factory.LockFactory
  lock/src/test/java/com/alibaba/nacos/lock/LockManagerTest.java
  lock/src/test/java/com/alibaba/nacos/lock/core/reentrant/mutex/ClientAtomicLock.java
  lock/src/test/java/com/alibaba/nacos/lock/core/reentrant/mutex/MutexAtomicLockTest.java
  lock/src/test/java/com/alibaba/nacos/lock/factory/ClientLockFactory.java
  lock/src/test/java/com/alibaba/nacos/lock/remote/rpc/handler/LockRequestHandlerTest.java
  lock/src/test/java/com/alibaba/nacos/lock/service/impl/LockOperationServiceImplTest.java
  lock/src/test/resources/META-INF/services/com.alibaba.nacos.lock.factory.LockFactory
  plugin-default-impl/src/main/java/com/alibaba/nacos/plugin/auth/impl/constant/AuthConstants.java
  plugin-default-impl/src/main/java/com/alibaba/nacos/plugin/auth/impl/roles/NacosRoleServiceImpl.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/api/RequestResource.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/constant/SignType.java
  pom.xml
Labels: Summer

#11185 use DefaultNacosTpsBarrierCreator as Tps manager default impl.
  plugin-default-impl/nacos-default-control-plugin/src/main/java/com/alibaba/nacos/plugin/control/impl/NacosTpsControlManager.java
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/DefaultTpsControlManager.java
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/TpsControlManager.java
Labels: kind/refactor, plugin

#11157 [ISSUE #10380] Add Fuzzy Watch Client Side Operation
  api/src/main/java/com/alibaba/nacos/api/common/Constants.java
  api/src/main/java/com/alibaba/nacos/api/naming/NamingService.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/AbstractWatchEventListener.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/WatchListener.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/WatchNotifyEvent.java
  api/src/main/java/com/alibaba/nacos/api/naming/pojo/Service.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/NamingRemoteConstants.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/AbstractWatchNotifyRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/WatchNotifyChangeRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/WatchNotifyInitRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/WatchServiceRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/NotifyWatcherResponse.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/WatchServiceResponse.java
  api/src/main/java/com/alibaba/nacos/api/naming/utils/NamingUtils.java
  api/src/main/resources/META-INF/services/com.alibaba.nacos.api.remote.Payload
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/WatchServiceListHolder.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/WatchNotifyEvent.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/WatchServiceChangeNotifier.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandler.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/RedoScheduledTask.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/WatcherRedoData.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/main/resources/META-INF/native-image/com.alibaba.nacos/nacos-client/reflect-config.json
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegateTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandlerTest.java
Labels: Summer

#11197 Fix frequent do query service when hit protect empty.
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServiceInfoUpdateService.java
Labels: kind/bug, area/Naming, area/Client

#11199 Upgrade grpc version to 1.57.2
  pom.xml
Labels: dependencies

#11189 [ISSUE #11132]feat: Add a rolling deletion strategy to solve the hidden danger of unlimited number of log files
  client/src/main/resources/nacos-log4j2.xml
Labels: area/Client
