Repository alibaba/nacos, pull requests merged in 2023-04, with the labels that each got.

#10272 [ISSUE #10271] Fix failover file path.
  client/src/main/java/com/alibaba/nacos/client/naming/backups/FailoverReactor.java
Labels: kind/bug, area/Client

#10276 取消默认openssl
  common/src/main/java/com/alibaba/nacos/common/remote/TlsConfig.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/DefaultGrpcClientConfig.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/grpc/GrpcClient.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/RpcClientFactoryTest.java
Labels: kind/enhancement, area/Client

#10301 remove ambiguous comments
  distribution/conf/mysql-schema.sql
Labels: kind/code quality

#10322 Develop add unit test for api remote and remote.response
  api/src/main/java/com/alibaba/nacos/api/remote/DefaultRequestFuture.java
  api/src/main/java/com/alibaba/nacos/api/remote/response/ResponseCode.java
  api/src/test/java/com/alibaba/nacos/api/remote/AbstractPushCallBackTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/AbstractRequestCallBackTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/DefaultRequestFutureTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/RpcScheduledExecutorTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/response/EmptyContentResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/response/ServerCheckResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/response/ServerLoaderInfoResponseTest.java
Labels: area/Test

#10324 [ISSUE#9821] Use new datasource plugin mapper api to support mysql and derby.
  config/src/main/java/com/alibaba/nacos/config/server/service/capacity/GroupCapacityPersistService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/capacity/TenantCapacityPersistService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/PaginationHelper.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoAggrPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoBetaPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoTagPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedHistoryConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedPaginationHelperImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedStoragePersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoAggrPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoBetaPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoTagPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalHistoryConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePaginationHelperImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalStoragePersistServiceImpl.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/constants/FieldConstant.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoBetaMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagsRelationMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/GroupCapacityMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/HistoryConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/TenantCapacityMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoBetaMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoTagMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigTagsRelationMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/GroupCapacityMapperByMysql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/HistoryConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/TenantCapacityMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoAggrMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoBetaMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoTagMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigTagsRelationMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/GroupCapacityMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/HistoryConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/TenantCapacityMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/model/MapperContext.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/model/MapperResult.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoAggrMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoBetaMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoTagsRelationMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/GroupCapacityMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/HistoryConfigInfoMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/TenantCapacityMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoAggrMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoBetaMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoTagMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigTagsRelationMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/GroupCapacityMapperByMysqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/HistoryConfigInfoMapperByMySqlTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/TenantCapacityMapperByMySqlTest.java
Labels: kind/enhancement, area/Config, plugin

#10330 Add unit test for api module remote.request package.
  api/src/test/java/com/alibaba/nacos/api/remote/request/BasicRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/ConnectResetRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/ConnectionSetupRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/EmptyContentRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/PushAckRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/RequestMetaTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/RequestTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/ServerReloadRequestTest.java
Labels: area/Test

#10338 Supple unit tests for api module config package.
  api/src/test/java/com/alibaba/nacos/api/config/ConfigChangeEventTest.java
  api/src/test/java/com/alibaba/nacos/api/config/ConfigChangeItemTest.java
  api/src/test/java/com/alibaba/nacos/api/config/ConfigTypeTest.java
  api/src/test/java/com/alibaba/nacos/api/config/ability/ServerConfigAbilityTest.java
  api/src/test/java/com/alibaba/nacos/api/config/listener/AbstractListenerTest.java
  api/src/test/java/com/alibaba/nacos/api/config/listener/AbstractSharedListenerTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/request/ClientConfigMetricRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/request/ConfigBatchListenRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/request/ConfigPublishRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/request/ConfigQueryRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/response/ClientConfigMetricResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/response/ConfigChangeBatchListenResponseTest.java
  api/src/test/java/com/alibaba/nacos/api/config/remote/response/ConfigQueryResponseTest.java
Labels: area/Test
