Repository alibaba/nacos, pull requests merged in 2024-12, with the labels that each got.

#12920 [ISSUE #12257] client auth plugin support refreshing server list
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigTransportClient.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingMaintainService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/security/SecurityProxy.java
  client/src/test/java/com/alibaba/nacos/client/security/SecurityProxyTest.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/spi/client/AbstractClientAuthService.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/spi/client/ClientAuthPluginManager.java
Labels: kind/enhancement, area/Client, plugin

#12805 The error message is not user-friendly when adding duplicate permissi…
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/controller/PermissionController.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/roles/NacosRoleServiceImpl.java
  plugin-default-impl/nacos-default-auth-plugin/src/test/java/com/alibaba/nacos/plugin/auth/impl/controller/PermissionControllerTest.java
  plugin-default-impl/nacos-default-auth-plugin/src/test/java/com/alibaba/nacos/plugin/auth/impl/roles/NacosRoleServiceImplTest.java
Labels: area/Nacos console

#12928 Use new nacos.io url replace older.
  README.md
  auth/src/main/java/com/alibaba/nacos/auth/config/AuthErrorCode.java
  config/src/test/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImplTest.java
  console-ui/src/config.js
  distribution/conf/announcement_en-US.conf
  distribution/conf/announcement_zh-CN.conf
  distribution/conf/console-guide.conf
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/token/impl/JwtTokenManager.java
Labels: area/Document

#12929 [ISSUE#12644] Return cached instances when getAllInstance with subscribe exception
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/selector/ServiceInfoContext.java
  client/src/test/java/com/alibaba/nacos/client/naming/NacosNamingServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/selector/ServiceInfoContextTest.java
Labels: kind/enhancement, area/Naming, area/Client

#12961 [ISSUE #12960] 修复配置回滚页面，更多高级选项点击报错问题
  console-ui/src/pages/ConfigurationManagement/ConfigRollback/ConfigRollback.js
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console

#12965 Bump console ui dependencies by npm audit.
  console-ui/package-lock.json
Labels: area/Nacos console, dependencies

#12971 [ISSUE #12970] Fix NamingMetadataManager.removeInstanceMetadata() error
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/NamingMetadataManager.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/metadata/NamingMetadataManagerTest.java
Labels: kind/bug, area/Naming

#12990 Enhance to reuse duplicate spring beans to reduce memory usage.
  bootstrap/src/main/java/com/alibaba/nacos/bootstrap/NacosBootstrap.java
  console/src/main/java/com/alibaba/nacos/console/config/NacosConsoleBeanPostProcessorConfiguration.java
  prometheus/src/main/java/com/alibaba/nacos/prometheus/conf/PrometheusSecurityConfiguration.java
  server/src/main/java/com/alibaba/nacos/NacosServerWebApplication.java
  server/src/main/java/com/alibaba/nacos/server/NacosWebBeanPostProcessorConfiguration.java
  server/src/main/resources/nacos-server.properties
  sys/src/main/java/com/alibaba/nacos/sys/env/AbstractNacosDuplicateBeanPostProcessor.java
  sys/src/main/java/com/alibaba/nacos/sys/env/Constants.java
  sys/src/main/java/com/alibaba/nacos/sys/env/NacosDuplicateConfigurationBeanPostProcessor.java
  sys/src/main/java/com/alibaba/nacos/sys/env/NacosDuplicateSpringBeanPostProcessor.java
  sys/src/test/java/com/alibaba/nacos/sys/env/NacosDuplicateConfigurationBeanPostProcessorTest.java
  sys/src/test/java/com/alibaba/nacos/sys/env/NacosDuplicateSpringBeanPostProcessorTest.java
  sys/src/test/java/com/alibaba/nacos/sys/env/mock/MockAutoConfiguration.java
Labels: Nacos3.0

#11856 Config fuzzy watch support
  api/src/main/java/com/alibaba/nacos/api/common/Constants.java
  api/src/main/java/com/alibaba/nacos/api/config/ConfigService.java
  api/src/main/java/com/alibaba/nacos/api/config/listener/AbstractFuzzyListenListener.java
  api/src/main/java/com/alibaba/nacos/api/config/listener/FuzzyListenConfigChangeEvent.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/request/AbstractFuzzyListenNotifyRequest.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/request/ConfigBatchFuzzyListenRequest.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/request/FuzzyListenNotifyChangeRequest.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/request/FuzzyListenNotifyDiffRequest.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/response/ConfigBatchFuzzyListenResponse.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/response/FuzzyListenNotifyChangeResponse.java
  api/src/main/java/com/alibaba/nacos/api/config/remote/response/FuzzyListenNotifyDiffResponse.java
  api/src/main/resources/META-INF/services/com.alibaba.nacos.api.remote.Payload
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigTransportClient.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/FuzzyListenContext.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/FuzzyListenNotifyEvent.java
  client/src/main/java/com/alibaba/nacos/client/utils/ParamUtil.java
  client/src/test/java/com/alibaba/nacos/client/config/NacosConfigServiceTest.java
  common/src/main/java/com/alibaba/nacos/common/utils/GroupKey.java
  common/src/main/java/com/alibaba/nacos/common/utils/GroupKeyPattern.java
  common/src/test/java/com/alibaba/nacos/common/utils/GroupKeyPatternTest.java
  config/src/main/java/com/alibaba/nacos/config/server/configuration/ConfigCommonConfig.java
  config/src/main/java/com/alibaba/nacos/config/server/model/CacheItem.java
  config/src/main/java/com/alibaba/nacos/config/server/model/event/ConfigBatchFuzzyListenEvent.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigBatchFuzzyListenRequestHandler.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigChangeListenContext.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/RpcFuzzyListenConfigChangeNotifier.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/RpcFuzzyListenConfigDiffNotifier.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
  core/src/main/java/com/alibaba/nacos/core/paramcheck/impl/ConfigBatchFuzzyListenRequestParamsExtractor.java
  example/src/main/java/com/alibaba/nacos/example/FuzzyListenExample.java
Labels: area/Config, area/Client, Nacos3.0

#12997 Naming fuzzy watch support
  api/src/main/java/com/alibaba/nacos/api/common/Constants.java
  api/src/main/java/com/alibaba/nacos/api/naming/NamingService.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/AbstractFuzzyWatchEventListener.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/FuzzyWatchListener.java
  api/src/main/java/com/alibaba/nacos/api/naming/listener/FuzzyWatchNotifyEvent.java
  api/src/main/java/com/alibaba/nacos/api/naming/pojo/Service.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/NamingRemoteConstants.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/AbstractFuzzyWatchNotifyRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/FuzzyWatchNotifyChangeRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/FuzzyWatchNotifyInitRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/request/FuzzyWatchRequest.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/FuzzyWatchResponse.java
  api/src/main/java/com/alibaba/nacos/api/naming/remote/response/NotifyFuzzyWatcherResponse.java
  api/src/main/java/com/alibaba/nacos/api/naming/utils/NamingUtils.java
  api/src/main/resources/META-INF/services/com.alibaba.nacos.api.remote.Payload
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/FuzzyWatchServiceListHolder.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/FuzzyWatchNotifyEvent.java
  client/src/main/java/com/alibaba/nacos/client/naming/event/ServicesChangeNotifier.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandler.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/NamingGrpcRedoService.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/RedoScheduledTask.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/redo/data/FuzzyWatcherRedoData.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/main/resources/META-INF/native-image/com.alibaba.nacos/nacos-client/reflect-config.json
  client/src/test/java/com/alibaba/nacos/client/naming/NacosNamingServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegateTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingPushRequestHandlerTest.java
  example/src/main/java/com/alibaba/nacos/example/FuzzyWatchExample.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/client/AbstractClient.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/client/Client.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/event/client/ClientOperationEvent.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/event/service/ServiceEvent.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/index/ClientServiceIndexesManager.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/metadata/InstanceMetadataProcessor.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/ClientOperationService.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/ClientOperationServiceProxy.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/EphemeralClientOperationServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/PersistentClientOperationServiceImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/heartbeat/ClientBeatProcessorV2.java
  naming/src/main/java/com/alibaba/nacos/naming/healthcheck/heartbeat/UnhealthyInstanceChecker.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutor.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorDelegate.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorRpcImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/executor/PushExecutorUdpImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchInitDelayTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchInitExecuteTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchNotifyChangeDelayTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchNotifyChangeExecuteTask.java
  naming/src/main/java/com/alibaba/nacos/naming/push/v2/task/FuzzyWatchPushDelayTaskEngine.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/FuzzyWatchRequestHandler.java
  naming/src/test/java/com/alibaba/nacos/naming/core/v2/index/ClientServiceIndexesManagerTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/NamingSubscriberServiceV2ImplTest.java
  naming/src/test/java/com/alibaba/nacos/naming/push/v2/task/FixturePushExecutor.java
Labels: area/Naming, area/Client, Nacos3.0
