Repository alibaba/nacos, pull requests merged in 2024-06, with the labels that each got.

#12144 [ISSUE #12130] add metadata as labels in prometheus http sd
  prometheus/src/main/java/com/alibaba/nacos/prometheus/utils/PrometheusUtils.java
  prometheus/src/test/java/com/alibaba/nacos/prometheus/controller/PrometheusControllerTest.java
Labels: kind/feature, plugin

#12166 Enhance nacos client init properties logger.
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingService.java
  client/src/main/java/com/alibaba/nacos/client/utils/ParamUtil.java
  client/src/test/java/com/alibaba/nacos/client/utils/ParamUtilTest.java
Labels: kind/enhancement, area/Client

#12177 Update console header link to new nacos.io.
  console-ui/src/config.js
  console-ui/src/layouts/Header.js
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console

#12203 [ISSUE #12178]Add total record count display in pagination (TotalRender).
  console-ui/src/components/Page/TotalRender.js
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  console-ui/src/pages/ServiceManagement/ServiceList/ServiceList.js
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/enhancement, area/Nacos console
