Repository alibaba/nacos, pull requests merged in 2024-05, with the labels that each got.

#12045 [ISSUE #11926] The abnormal exit mechanism does not take effect
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
Labels: kind/enhancement

#12014 feat(develop): [ISSUES #12013] startup.sh support environment CUSTOM_NACOS_MEMORY
  distribution/bin/startup.cmd
  distribution/bin/startup.sh
Labels: kind/enhancement

#12073 [ISSUE #12072] Add logic that does not impose any limit when totalCountLimit is less than 0.
  plugin-default-impl/nacos-default-control-plugin/src/main/java/com/alibaba/nacos/plugin/control/impl/NacosConnectionControlManager.java
  plugin-default-impl/nacos-default-control-plugin/src/test/java/com/alibaba/nacos/plugin/control/impl/NacosConnectionControlManagerTest.java
Labels: kind/enhancement, plugin

#12031 [ISSUE#12022] Fix nacos datasource plugin ClassCastException bug (#12…
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/proxy/MapperProxy.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/MapperManagerTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/TestInterface.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/mapper/TestMapper.java
Labels: kind/bug, plugin

#12066 [ISSUE #11957] AuthModule add admin exist
  auth/src/main/java/com/alibaba/nacos/auth/config/AuthModuleStateBuilder.java
  auth/src/test/java/com/alibaba/nacos/auth/config/AuthModuleStateBuilderTest.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/NacosAuthPluginService.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/controller/UserController.java
  plugin-default-impl/nacos-default-auth-plugin/src/test/java/com/alibaba/nacos/plugin/auth/impl/controller/UserControllerTest.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/spi/server/AuthPluginService.java
  sys/src/main/java/com/alibaba/nacos/sys/module/ModuleStateBuilder.java
  sys/src/main/java/com/alibaba/nacos/sys/module/ModuleStateHolder.java
Labels: kind/feature

#12136 [ISSUE #12135] upgrade module naocs-console from junit4 to junit5
  console/src/test/java/com/alibaba/nacos/console/controller/HealthControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/NamespaceControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/ServerStateControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/v2/HealthControllerV2Test.java
  console/src/test/java/com/alibaba/nacos/console/controller/v2/NamespaceControllerV2Test.java
  console/src/test/java/com/alibaba/nacos/console/exception/ConsoleExceptionHandlerTest.java
  console/src/test/java/com/alibaba/nacos/console/exception/NacosApiExceptionHandlerTest.java
  console/src/test/java/com/alibaba/nacos/console/filter/XssFilterTest.java
  console/src/test/java/com/alibaba/nacos/console/paramcheck/ParamExtractorTest.java
Labels: area/Test

#12148 [ISSUE#11957] Console support init password for nacos username
  console-ui/src/globalLib.js
  console-ui/src/index.js
  console-ui/src/locales/zh-CN.js
  console-ui/src/pages/Register/Register.jsx
  console-ui/src/pages/Register/index.jsx
  console-ui/src/pages/Register/index.scss
  console-ui/src/pages/Welcome/Welcome.js
  console-ui/src/reducers/base.js
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/feature, area/Nacos console

#12162 Support aliyun ram v4 signature method.
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/RamClientAuthServiceImpl.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/RamConstants.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/RamContext.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/AbstractResourceInjector.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/ConfigResourceInjector.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/injector/NamingResourceInjector.java
  client/src/main/java/com/alibaba/nacos/client/auth/ram/utils/CalculateV4SigningKeyUtil.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/RamClientAuthServiceImplTest.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/identify/CredentialServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/injector/ConfigResourceInjectorTest.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/injector/NamingResourceInjectorTest.java
  client/src/test/java/com/alibaba/nacos/client/auth/ram/utils/CalculateV4SigningKeyUtilTest.java
Labels: kind/feature, area/Client
