Repository alibaba/nacos, pull requests merged in 2024-01, with the labels that each got.

#11579 [ISSUE #11573]fix default tps control plugin
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/barrier/SimpleCountRuleBarrier.java
Labels: kind/bug, plugin

#11634 修复client register事件跟clientManager addClient异步并行问题
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/PersistentClientOperationServiceImpl.java
Labels: kind/bug, area/Naming

#11620 [ISSUES #11619]control plugin fix LocalDiskRuleStorage mkdirs
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/rule/storage/LocalDiskRuleStorage.java
Labels: kind/bug, plugin

#11603 [ISSUE #11595]fix user update permission
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/controller/UserController.java
Labels: kind/bug, plugin

#11661 Server don't send its abilities if client don't send its abilities when setting up connection
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/GrpcBiStreamRequestAcceptor.java
Labels: kind/bug, area/Client

#11613 [ISSUE #11612] Unified use of `NameThreadFactory` to create thread pools
  client/src/main/java/com/alibaba/nacos/client/config/impl/CacheData.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingMaintainService.java
  client/src/main/java/com/alibaba/nacos/client/naming/backups/FailoverReactor.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  common/src/main/java/com/alibaba/nacos/common/remote/client/RpcClient.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigDetailService.java
Labels: kind/code quality

#11636 [ISSUES #11624] 修改Nacos 2.3.0 反脆弱插件NacosConnectionControlManager类判断条件
  plugin-default-impl/nacos-default-control-plugin/src/main/java/com/alibaba/nacos/plugin/control/impl/NacosConnectionControlManager.java
Labels: kind/bug, plugin

#11658 optimize dump all logic and optimize dump change interface
  config/src/main/java/com/alibaba/nacos/config/server/model/ConfigInfoStateWrapper.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigCacheService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/DumpChangeConfigWorker.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/DumpService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/processor/DumpAllProcessor.java
  config/src/main/java/com/alibaba/nacos/config/server/service/dump/task/DumpAllTask.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/ConfigInfoPersistService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/ConfigRowMapperInjector.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/HistoryConfigInfoPersistService.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedHistoryConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalHistoryConfigInfoPersistServiceImpl.java
  config/src/main/java/com/alibaba/nacos/config/server/utils/PropertyUtil.java
  config/src/test/java/com/alibaba/nacos/config/server/service/dump/DumpChangeConfigWorkerTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/dump/DumpServiceTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/dump/processor/DumpAllProcessorTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedConfigInfoPersistServiceImplTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/repository/embedded/EmbeddedHistoryConfigInfoPersistServiceImplTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalConfigInfoPersistServiceImplTest.java
  config/src/test/java/com/alibaba/nacos/config/server/service/repository/extrnal/ExternalHistoryConfigInfoPersistServiceImplTest.java
  config/src/test/java/com/alibaba/nacos/config/server/utils/PropertyUtilTest.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/constants/ContextConstant.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySql.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigInfoMapper.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/model/MapperContext.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigInfoMapperByDerbyTest.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/mysql/ConfigInfoMapperByMySqlTest.java
Labels: kind/enhancement, area/Config

#11703 build(11606): Make sql-schema consistent.
  config/src/main/resources/META-INF/derby-schema.sql
  config/src/main/resources/META-INF/mysql-schema.sql
  console/src/main/resources/META-INF/derby-schema.sql
  test/config-test/src/test/resources/derby-schema.sql
Labels: kind/code quality

#11693 [ISSUE #11618] Add the config of max thread count for client worker & naming polling
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServiceInfoUpdateService.java
  client/src/main/java/com/alibaba/nacos/client/naming/utils/UtilAndComs.java
Labels: kind/enhancement, area/Client
