Repository alibaba/nacos, pull requests merged in 2024-10, with the labels that each got.

#12716 grpc invoke source refactor
  config/src/main/java/com/alibaba/nacos/config/server/controller/ClientMetricsController.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigChangeClusterSyncRequestHandler.java
  core/src/main/java/com/alibaba/nacos/core/cluster/remote/MemberReportHandler.java
  core/src/main/java/com/alibaba/nacos/core/remote/RequestHandlerRegistry.java
  core/src/main/java/com/alibaba/nacos/core/remote/core/ServerLoaderInfoRequestHandler.java
  core/src/main/java/com/alibaba/nacos/core/remote/core/ServerReloaderRequestHandler.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/BaseGrpcServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/GrpcClusterServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/GrpcSdkServer.java
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/InvokeSource.java
  core/src/test/java/com/alibaba/nacos/core/remote/RequestHandlerRegistryTest.java
  core/src/test/java/com/alibaba/nacos/core/remote/grpc/GrpcServerTest.java
  naming/src/main/java/com/alibaba/nacos/naming/remote/rpc/handler/DistroDataRequestHandler.java
Labels: kind/refactor

#12735 Auto upgrade ui dependencies by npm audit.
  console-ui/package-lock.json
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: area/Nacos console, dependencies

#12274 [ISSUE #12189] Unified Nacos Client address module code
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/address/AbstractServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/address/AbstractServerListProvider.java
  client/src/main/java/com/alibaba/nacos/client/address/AddressServerListProvider.java
  client/src/main/java/com/alibaba/nacos/client/address/EndpointServerListProvider.java
  client/src/main/java/com/alibaba/nacos/client/address/ServerListChangeEvent.java
  client/src/main/java/com/alibaba/nacos/client/address/ServerListProvider.java
  client/src/main/java/com/alibaba/nacos/client/config/NacosConfigService.java
  client/src/main/java/com/alibaba/nacos/client/config/http/ServerHttpAgent.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigHttpClientManager.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigTransportClient.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ServerListChangeEvent.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/constant/Constants.java
  client/src/main/java/com/alibaba/nacos/client/naming/NacosNamingMaintainService.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/NamingServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/naming/core/ServerListManager.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/utils/NamingHttpUtil.java
  client/src/main/java/com/alibaba/nacos/client/utils/ParamUtil.java
  client/src/main/resources/META-INF/services/com.alibaba.nacos.client.address.ServerListProvider
  client/src/test/java/com/alibaba/nacos/client/auth/ram/identify/StsCredentialHolderTest.java
  client/src/test/java/com/alibaba/nacos/client/config/NacosConfigServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/config/http/ServerHttpAgentTest.java
  client/src/test/java/com/alibaba/nacos/client/config/impl/ClientWorkerTest.java
  client/src/test/java/com/alibaba/nacos/client/config/impl/ConfigServerListManagerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/NacosNamingMaintainServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/core/NamingServerListManagerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/AbstractNamingClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxyTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/utils/NamingHttpUtilTest.java
  client/src/test/java/com/alibaba/nacos/client/utils/ParamUtilTest.java
  common/src/main/java/com/alibaba/nacos/common/http/HttpUtils.java
  common/src/test/java/com/alibaba/nacos/common/http/HttpUtilsTest.java
  common/src/test/java/com/alibaba/nacos/common/utils/InternetAddressUtilTest.java
Labels: Summer

#12756 Enhance Disk operation for DiskUtils
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/utils/DiskUtils.java
  plugin/control/src/test/java/com/alibaba/nacos/plugin/control/utils/DiskUtilsTest.java
  sys/src/main/java/com/alibaba/nacos/sys/utils/DiskUtils.java
  sys/src/test/java/com/alibaba/nacos/sys/utils/DiskUtilsTest.java
  sys/src/test/java/com/alibaba/nacos/sys/utils/DiskUtilsZipTest.java
Labels: kind/enhancement, area/Nacos Core

#12757 Refactor update password api auth check and add unit test.
  auth/src/main/java/com/alibaba/nacos/auth/AbstractProtocolAuthService.java
  auth/src/test/java/com/alibaba/nacos/auth/GrpcProtocolAuthServiceTest.java
  auth/src/test/java/com/alibaba/nacos/auth/HttpProtocolAuthServiceTest.java
  auth/src/test/java/com/alibaba/nacos/auth/mock/MockResourceParser.java
  auth/src/test/java/com/alibaba/nacos/auth/parser/grpc/ConfigGrpcResourceParserTest.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/NacosAuthPluginService.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/controller/UserController.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/roles/NacosRoleServiceImpl.java
  plugin-default-impl/nacos-default-auth-plugin/src/test/java/com/alibaba/nacos/plugin/auth/impl/roles/NacosRoleServiceImplTest.java
Labels: kind/refactor, plugin

#12687 [ISSUE #12017] Update console frontend by using Console API
  console-ui/src/components/BatchHandle/BatchHandle.js
  console-ui/src/components/CloneDialog/CloneDialog.js
  console-ui/src/components/EditorNameSpace/EditorNameSpace.js
  console-ui/src/components/ImportDialog/ImportDialog.js
  console-ui/src/components/NameSpaceList/NameSpaceList.js
  console-ui/src/components/NewNameSpace/NewNameSpace.js
  console-ui/src/pages/ClusterManagement/ClusterNodeList/ClusterNodeList.js
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/ConfigCompared.js
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/ConfigDetail.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/ConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigRollback/ConfigRollback.js
  console-ui/src/pages/ConfigurationManagement/ConfigSync/ConfigSync.js
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  console-ui/src/pages/ConfigurationManagement/HistoryDetail/HistoryDetail.js
  console-ui/src/pages/ConfigurationManagement/HistoryRollback/HistoryRollback.js
  console-ui/src/pages/ConfigurationManagement/ListeningToQuery/ListeningToQuery.js
  console-ui/src/pages/ConfigurationManagement/NewConfig/NewConfig.js
  console-ui/src/pages/NameSpace/NameSpace.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/EditClusterDialog.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/EditInstanceDialog.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/EditServiceDialog.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/InstanceTable.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/ServiceDetail.js
  console-ui/src/pages/ServiceManagement/ServiceList/ServiceList.js
  console-ui/src/reducers/authority.js
  console-ui/src/reducers/base.js
  console-ui/src/reducers/configuration.js
  console-ui/src/reducers/namespace.js
  console-ui/src/reducers/subscribers.js
  console-ui/src/utils/request.js
  console/src/main/java/com/alibaba/nacos/console/controller/v3/ConsoleServerStateController.java
Labels: Summer

#12796 fix(#12769 ): remove config history by derby.
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/HistoryConfigInfoMapperByDerby.java
  plugin/datasource/src/test/java/com/alibaba/nacos/plugin/datasource/impl/derby/HistoryConfigInfoMapperByDerbyTest.java
Labels: kind/bug, area/Config
