Repository alibaba/nacos, pull requests merged in 2024-02, with the labels that each got.

#11668 [ISSUE #11655]fix invalid usage of ProporityQueue in ConfigChangePluginManger
  config/src/main/java/com/alibaba/nacos/config/server/aspect/ConfigChangeAspect.java
  config/src/test/java/com/alibaba/nacos/config/server/aspect/ConfigChangeAspectTest.java
  config/src/test/java/com/alibaba/nacos/config/server/configuration/ConfigChangeConfigsTest.java
  plugin/config/src/main/java/com/alibaba/nacos/plugin/config/ConfigChangePluginManager.java
  plugin/config/src/test/java/com/alibaba/nacos/plugin/config/ConfigChangePluginManagerTests.java
Labels: area/Config, plugin

#11739 Add client module ut.
  client/src/main/java/com/alibaba/nacos/client/config/impl/LocalConfigInfoProcessor.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/LocalEncryptedDataKeyProcessor.java
  client/src/main/java/com/alibaba/nacos/client/config/utils/ConcurrentDiskUtil.java
  client/src/main/java/com/alibaba/nacos/client/config/utils/JvmUtil.java
  client/src/main/java/com/alibaba/nacos/client/naming/backups/datasource/DiskFailoverDataSource.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/DiskCache.java
  client/src/main/java/com/alibaba/nacos/client/utils/ConcurrentDiskUtil.java
  client/src/test/java/com/alibaba/nacos/client/config/filter/impl/ConfigResponseTest.java
  client/src/test/java/com/alibaba/nacos/client/config/http/ServerHttpAgentTest.java
  client/src/test/java/com/alibaba/nacos/client/config/utils/ConcurrentDiskUtilTest.java
  client/src/test/java/com/alibaba/nacos/client/config/utils/JvmUtilTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/utils/ConcurrentDiskUtilTest.java
  naming/src/test/java/com/alibaba/nacos/naming/utils/InstanceUtilTest.java
Labels: area/Test

#11740 [ISSUE #11708]fix dark mode bugs
  console-ui/package-lock.json
  console-ui/src/pages/ConfigurationManagement/HistoryRollback/HistoryRollback.js
  console-ui/src/pages/ConfigurationManagement/ListeningToQuery/ListeningToQuery.js
  console-ui/src/theme/index.scss
  console/src/main/resources/static/css/main.css
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
Labels: kind/bug, area/Nacos console

#11567 [ISSUE #10378]add lock query count and rt metrics
  core/src/main/java/com/alibaba/nacos/core/monitor/NacosMeterRegistryCenter.java
  lock/src/main/java/com/alibaba/nacos/lock/aspect/RequestLockAspect.java
  lock/src/main/java/com/alibaba/nacos/lock/monitor/LockMemoryMonitor.java
  lock/src/main/java/com/alibaba/nacos/lock/monitor/LockMetricsMonitor.java
  lock/src/main/java/com/alibaba/nacos/lock/service/impl/LockOperationServiceImpl.java
Labels: Summer

#11755 build(#11749 ): upgrade spring boot version.
  pom.xml
Labels: dependencies

#11625 [ISSUES #11626] 优化Nacos的默认反脆弱插件
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/barrier/LocalSimpleCountRateCounter.java
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/barrier/RateCounter.java
  plugin/control/src/main/java/com/alibaba/nacos/plugin/control/tps/barrier/SimpleCountRuleBarrier.java
Labels: kind/enhancement, plugin

#11759 fix:Use the article an before instance
  CHANGELOG.md
  address/src/main/java/com/alibaba/nacos/address/component/AddressServerGeneratorManager.java
  api/src/main/java/com/alibaba/nacos/api/naming/NamingService.java
  api/src/main/java/com/alibaba/nacos/api/naming/pojo/healthcheck/HealthCheckerFactory.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxy.java
Labels: kind/code quality

#11721 Update the sofa-jraft version to resolve the issue of the server cannot connect to the client
  core/src/test/java/com/alibaba/nacos/core/distributed/raft/JRaftServerTest.java
  pom.xml
Labels: dependencies
