Repository alibaba/nacos, pull requests merged in 2025-07, with the labels that each got.

#13583 [ISSUE #13580] Format is empty in the Configuration BETA Edit Page
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/config/ConfigInnerHandler.java
  console/src/test/java/com/alibaba/nacos/console/handler/impl/inner/config/ConfigInnerHandlerTest.java
Labels: kind/enhancement, area/Config

#13584 fox#13565 Optimize error logs for MCP server not found scenario
  ai/src/main/java/com/alibaba/nacos/ai/service/McpServerOperationService.java
Labels: kind/enhancement, area/MCP

#13612 [#13524] Auto generate service with version when release new mcp version.
  ai/src/main/java/com/alibaba/nacos/ai/remote/handler/ReleaseMcpServerRequestHandler.java
  ai/src/test/java/com/alibaba/nacos/ai/remote/handler/ReleaseMcpServerRequestHandlerTest.java
Labels: area/Client, area/MCP

#13592 feat: grpc server startup support listen on specified ip
  core/src/main/java/com/alibaba/nacos/core/remote/grpc/BaseGrpcServer.java
  sys/src/main/java/com/alibaba/nacos/sys/env/Constants.java
  sys/src/main/java/com/alibaba/nacos/sys/utils/InetUtils.java
  sys/src/test/java/com/alibaba/nacos/sys/utils/InetUtilsTest.java
Labels: kind/enhancement, area/Nacos Core

#13623 fix: correct log formatting
  core/src/main/java/com/alibaba/nacos/core/paramcheck/ServerParamCheckConfig.java
Labels: kind/code quality

#13627 [#13524] Some enhance behavior for nacos mcp client.
  ai/src/main/java/com/alibaba/nacos/ai/remote/handler/ReleaseMcpServerRequestHandler.java
  ai/src/test/java/com/alibaba/nacos/ai/remote/handler/ReleaseMcpServerRequestHandlerTest.java
  api/src/main/java/com/alibaba/nacos/api/ai/AiService.java
  api/src/main/java/com/alibaba/nacos/api/model/v2/ErrorCode.java
  api/src/test/java/com/alibaba/nacos/api/ai/AiServiceDefaultMethodTest.java
  client/src/main/java/com/alibaba/nacos/client/ai/NacosAiService.java
  client/src/main/java/com/alibaba/nacos/client/ai/cache/NacosMcpServerCacheHolder.java
  client/src/main/java/com/alibaba/nacos/client/ai/event/McpServerChangeNotifier.java
  client/src/main/java/com/alibaba/nacos/client/ai/event/McpServerChangedEvent.java
  client/src/main/java/com/alibaba/nacos/client/ai/remote/AiGrpcClient.java
  client/src/main/java/com/alibaba/nacos/client/ai/utils/McpServerUtils.java
  client/src/test/java/com/alibaba/nacos/client/ai/NacosAiServiceTest.java
  client/src/test/java/com/alibaba/nacos/client/ai/cache/NacosMcpServerCacheHolderTest.java
  client/src/test/java/com/alibaba/nacos/client/ai/event/McpServerChangeNotifierTest.java
  client/src/test/java/com/alibaba/nacos/client/ai/remote/AiGrpcClientTest.java
Labels: area/Client

#13632 feat: deployemnt type merged load nacos console path tip filter
  config/src/main/java/com/alibaba/nacos/config/server/configuration/NacosConfigConfiguration.java
  config/src/main/java/com/alibaba/nacos/config/server/filter/NacosConsolePathTipFilter.java
  core/src/main/java/com/alibaba/nacos/core/console/ConsolePathTipConfig.java
  core/src/main/java/com/alibaba/nacos/core/console/NacosConsolePathTipFilter.java
  core/src/test/java/com/alibaba/nacos/core/console/NacosConsolePathTipFilterTest.java
Labels: kind/feature

#13644 [ISSUE #13437] fix: readiness http response code 500 when not health
  console/src/main/java/com/alibaba/nacos/console/controller/v3/ConsoleHealthController.java
  console/src/test/java/com/alibaba/nacos/console/controller/v3/ConsoleHealthControllerTest.java
Labels: kind/enhancement, area/Nacos Core

#13655 [#13602] Add simple implement for mcp server operation async to sync.
  ai/src/main/java/com/alibaba/nacos/ai/service/McpServerOperationService.java
  ai/src/main/java/com/alibaba/nacos/ai/service/McpServerSyncEffectService.java
  ai/src/main/java/com/alibaba/nacos/ai/service/SimpleMcpServerSyncEffectService.java
  ai/src/test/java/com/alibaba/nacos/ai/service/McpServerOperationServiceTest.java
  ai/src/test/java/com/alibaba/nacos/ai/service/McpServerSyncEffectServiceTest.java
  ai/src/test/java/com/alibaba/nacos/ai/service/SimpleMcpServerSyncEffectServiceTest.java
Labels: kind/enhancement, area/MCP
