Repository alibaba/nacos, pull requests merged in 2025-03, with the labels that each got.

#13146 Enhancement Console API response for naming module and other some console enhancement.
  api/src/main/java/com/alibaba/nacos/api/selector/AbstractSelector.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/v3/ConfigControllerV3.java
  config/src/test/java/com/alibaba/nacos/config/server/controller/v3/ConfigControllerV3Test.java
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/EditClusterDialog.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/EditServiceDialog.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/InstanceTable.js
  console-ui/src/pages/ServiceManagement/ServiceDetail/ServiceDetail.js
  console-ui/src/pages/ServiceManagement/ServiceList/ServiceList.js
  console-ui/src/pages/ServiceManagement/SubscriberList/SubscriberList.js
  console-ui/src/reducers/subscribers.js
  console/src/main/java/com/alibaba/nacos/console/controller/v3/config/ConsoleConfigController.java
  console/src/main/java/com/alibaba/nacos/console/controller/v3/naming/ConsoleInstanceController.java
  console/src/main/java/com/alibaba/nacos/console/controller/v3/naming/ConsoleServiceController.java
  console/src/main/java/com/alibaba/nacos/console/handler/config/ConfigHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/config/ConfigInnerHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/naming/ServiceInnerHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/remote/config/ConfigImportAndExportService.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/remote/config/ConfigRemoteHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/remote/naming/ServiceRemoteHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/naming/ServiceHandler.java
  console/src/main/java/com/alibaba/nacos/console/proxy/config/ConfigProxy.java
  console/src/main/java/com/alibaba/nacos/console/proxy/naming/ServiceProxy.java
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
  console/src/test/java/com/alibaba/nacos/console/controller/v3/config/ConsoleConfigControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/v3/naming/ConsoleInstanceControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/v3/naming/ConsoleServiceControllerTest.java
  core/src/main/java/com/alibaba/nacos/core/utils/WebUtils.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/configuration/web/NacosAuthPluginOldControllerConfig.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/configuration/web/NacosAuthPluginWebConfig.java
Labels: kind/enhancement

#13076 update the coding style for integration tests.
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/AbstractInstanceOperateNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/CPInstancesAPINamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/ClientBeatNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/CompatibilityServiceTlsNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/InstanceOperateNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/MaintainServiceNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/MultiTenantInstanceAPINamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/MultiTenantNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/RaftNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/RestAPINamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/SelectInstancesNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/SelectOneHealthyInstanceNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/ServiceListTestNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/Starter_ITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/SubscribeClusterNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/SubscribeNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/SubscribeSelectorNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/TlsServiceAndMutualAuthNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/TlsServiceTlsNamingITCase.java
  test/naming-test/src/test/java/com/alibaba/nacos/test/naming/UnsubscribeNamingITCase.java
Labels: area/Test

#13149 Enhancement Console API response for config module.
  api/src/main/java/com/alibaba/nacos/api/config/model/ConfigBasicInfo.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/v3/ConfigControllerV3.java
  console-ui/src/components/ShowCodeing/ShowCodeing.js
  console-ui/src/pages/ConfigurationManagement/ConfigDetail/ConfigDetail.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/ConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigEditor/NewConfigEditor.js
  console-ui/src/pages/ConfigurationManagement/ConfigRollback/ConfigRollback.js
  console-ui/src/pages/ConfigurationManagement/ConfigurationManagement/ConfigurationManagement.js
  console-ui/src/pages/ConfigurationManagement/HistoryDetail/HistoryDetail.js
  console-ui/src/pages/ConfigurationManagement/HistoryRollback/HistoryRollback.js
  console-ui/src/pages/ConfigurationManagement/ListeningToQuery/ListeningToQuery.js
  console/src/main/java/com/alibaba/nacos/console/controller/v3/config/ConsoleConfigController.java
  console/src/main/java/com/alibaba/nacos/console/controller/v3/config/ConsoleHistoryController.java
  console/src/main/java/com/alibaba/nacos/console/handler/config/ConfigHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/config/HistoryHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/config/ConfigInnerHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/config/HistoryInnerHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/remote/config/ConfigRemoteHandler.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/remote/config/HistoryRemoteHandler.java
  console/src/main/java/com/alibaba/nacos/console/proxy/config/ConfigProxy.java
  console/src/main/java/com/alibaba/nacos/console/proxy/config/HistoryProxy.java
  console/src/main/resources/static/index.html
  console/src/main/resources/static/js/main.js
  console/src/test/java/com/alibaba/nacos/console/controller/v3/config/ConsoleConfigControllerTest.java
  console/src/test/java/com/alibaba/nacos/console/controller/v3/config/ConsoleHistoryControllerTest.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/ConfigMaintainerService.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/NacosConfigMaintainerServiceImpl.java
Labels: kind/enhancement, Nacos3.0

#13154 Enhance maintainer client config interface define.
  config/src/main/java/com/alibaba/nacos/config/server/controller/v3/ConfigControllerV3.java
  config/src/main/java/com/alibaba/nacos/config/server/controller/v3/ConfigOpsControllerV3.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/remote/config/ConfigRemoteHandler.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/BetaConfigMaintainerService.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/ConfigHistoryMaintainerService.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/ConfigMaintainerService.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/ConfigOpsMaintainerService.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/config/NacosConfigMaintainerServiceImpl.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/naming/NamingMaintainerService.java
  maintainer-client/src/test/java/com/alibaba/nacos/maintainer/client/config/NacosConfigMaintainerServiceImplTest.java
Labels: kind/enhancement, kind/refactor, area/Client, Nacos3.0

#13155 Client judge whether server support target ability before actual do request for fuzzy watch and distributed lock.
  api/src/main/java/com/alibaba/nacos/api/ability/constant/AbilityKey.java
  api/src/main/java/com/alibaba/nacos/api/ability/register/impl/SdkClientAbilities.java
  api/src/main/java/com/alibaba/nacos/api/ability/register/impl/ServerAbilities.java
  api/src/main/java/com/alibaba/nacos/api/exception/NacosException.java
  api/src/main/java/com/alibaba/nacos/api/lock/LockService.java
  api/src/test/java/com/alibaba/nacos/api/ability/register/impl/ServerAbilitiesTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/RequestMetaTest.java
  api/src/test/java/com/alibaba/nacos/api/remote/request/SetupAckRequestTest.java
  api/src/test/java/com/alibaba/nacos/api/utils/AbilityKeyTest.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ConfigFuzzyWatchGroupKeyHolder.java
  client/src/main/java/com/alibaba/nacos/client/lock/NacosLockService.java
  client/src/main/java/com/alibaba/nacos/client/lock/remote/grpc/LockGrpcClient.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/NamingFuzzyWatchServiceListHolder.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegate.java
  client/src/test/java/com/alibaba/nacos/client/ability/AbilityTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/NamingClientProxyDelegateTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxyTest.java
  common/src/test/java/com/alibaba/nacos/common/ability/AbstractAbilityControlManagerTest.java
  common/src/test/java/com/alibaba/nacos/common/ability/discover/HigherMockAbilityManager.java
  common/src/test/java/com/alibaba/nacos/common/ability/discover/LowerMockAbilityManager.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/ConnectionTest.java
  common/src/test/java/com/alibaba/nacos/common/remote/client/RpcClientTest.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigChangeListenContext.java
  config/src/main/java/com/alibaba/nacos/config/server/utils/NacosMd5Comparator.java
  core/src/test/java/com/alibaba/nacos/core/ability/AbilityControlManagerTest.java
  core/src/test/java/com/alibaba/nacos/core/ability/config/AbilityConfigsTest.java
  core/src/test/java/com/alibaba/nacos/core/ability/config/TestAbilityConfig.java
  test/core-test/src/test/java/com/alibaba/nacos/test/ability/AbilityDiscovery.java
  test/core-test/src/test/java/com/alibaba/nacos/test/ability/component/TestServerAbilityControlManager.java
Labels: kind/enhancement, area/Client, Nacos3.0

#13165 Enhance start up script to check required configuration and can setting them.
  console/src/main/java/com/alibaba/nacos/console/proxy/core/ClusterProxy.java
  distribution/bin/startup.cmd
  distribution/bin/startup.sh
Labels: kind/enhancement, Nacos3.0

#13169 [ISSUE#13027] Fix persistent service instance metadata will not be expired after instance deregister.
  naming/src/main/java/com/alibaba/nacos/naming/core/v2/service/impl/PersistentClientOperationServiceImpl.java
Labels: kind/bug, area/Naming

#13188 Optimize the Namespace Compatible Mode switch
  config/src/main/java/com/alibaba/nacos/config/server/configuration/ConfigCompatibleConfig.java
  config/src/main/java/com/alibaba/nacos/config/server/remote/ConfigChangeClusterSyncRequestHandler.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigMigrateService.java
  config/src/main/java/com/alibaba/nacos/config/server/utils/PropertyUtil.java
Labels: Nacos3.0

#13201 [ISSUE #13200] Fix ConfigMigrateService derby bug
  config/src/main/java/com/alibaba/nacos/config/server/configuration/ConfigCompatibleConfig.java
  config/src/main/java/com/alibaba/nacos/config/server/service/ConfigMigrateService.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/impl/derby/ConfigMigrateMapperByDerby.java
  plugin/datasource/src/main/java/com/alibaba/nacos/plugin/datasource/mapper/ConfigMigrateMapper.java
Labels: kind/bug

#13207 Do some refactor for 3.0 api
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/naming/InstanceInnerHandler.java
  core/src/main/java/com/alibaba/nacos/core/controller/v3/NacosClusterControllerV3.java
  core/src/main/java/com/alibaba/nacos/core/controller/v3/ServerLoaderControllerV3.java
  core/src/main/java/com/alibaba/nacos/core/service/NacosServerLoaderService.java
  core/src/test/java/com/alibaba/nacos/core/controller/v3/ServerLoaderControllerV3Test.java
  core/src/test/java/com/alibaba/nacos/core/service/NacosServerLoaderServiceTest.java
  k8s-sync/src/main/java/com/alibaba/nacos/k8s/sync/K8sSyncServer.java
  maintainer-client/src/main/java/com/alibaba/nacos/maintainer/client/core/AbstractCoreMaintainerService.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/v2/InstanceControllerV2.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/v3/HealthControllerV3.java
  naming/src/main/java/com/alibaba/nacos/naming/controllers/v3/InstanceControllerV3.java
  naming/src/main/java/com/alibaba/nacos/naming/core/HealthOperator.java
  naming/src/main/java/com/alibaba/nacos/naming/core/HealthOperatorV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/InstanceOperator.java
  naming/src/main/java/com/alibaba/nacos/naming/core/InstanceOperatorClientImpl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/ServiceOperator.java
  naming/src/main/java/com/alibaba/nacos/naming/core/ServiceOperatorV2Impl.java
  naming/src/main/java/com/alibaba/nacos/naming/core/SubscribeManager.java
  naming/src/main/java/com/alibaba/nacos/naming/pojo/InstanceOperationInfo.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/v3/HealthControllerV3Test.java
  naming/src/test/java/com/alibaba/nacos/naming/controllers/v3/InstanceControllerV3Test.java
  naming/src/test/java/com/alibaba/nacos/naming/core/InstanceOperatorClientImplTest.java
  server/src/main/resources/nacos-server.properties
Labels: kind/refactor, Nacos3.0

#13191 [ISSUE#13183] Add client metrics switch.
  api/src/main/java/com/alibaba/nacos/api/PropertyKeyConst.java
  client/src/main/java/com/alibaba/nacos/client/config/impl/ClientWorker.java
  client/src/main/java/com/alibaba/nacos/client/naming/cache/ServiceInfoHolder.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/gprc/NamingGrpcClientProxy.java
  client/src/main/java/com/alibaba/nacos/client/naming/remote/http/NamingHttpClientProxy.java
  client/src/test/java/com/alibaba/nacos/client/config/impl/ClientWorkerTest.java
  client/src/test/java/com/alibaba/nacos/client/naming/cache/ServiceInfoHolderTest.java
Labels: kind/enhancement, area/Client

#13208 Change some console api from public api to identity check only api.
  auth/src/main/java/com/alibaba/nacos/auth/config/NacosAuthConfigHolder.java
  auth/src/test/java/com/alibaba/nacos/auth/config/NacosAuthConfigHolderTest.java
  console/src/main/java/com/alibaba/nacos/console/controller/v3/core/ConsoleNamespaceController.java
  console/src/main/java/com/alibaba/nacos/console/controller/v3/naming/ConsoleServiceController.java
  console/src/main/java/com/alibaba/nacos/console/handler/impl/inner/core/NamespaceInnerHandler.java
  core/src/main/java/com/alibaba/nacos/core/auth/AbstractWebAuthFilter.java
  core/src/main/java/com/alibaba/nacos/core/service/NamespaceOperationService.java
  core/src/test/java/com/alibaba/nacos/core/auth/AuthFilterTest.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/controller/UserController.java
  plugin-default-impl/nacos-default-auth-plugin/src/main/java/com/alibaba/nacos/plugin/auth/impl/controller/v3/UserControllerV3.java
  plugin/auth/src/main/java/com/alibaba/nacos/plugin/auth/constant/Constants.java
Labels: kind/enhancement, plugin, Nacos3.0
